<div class="container">
  <app-middle-title [title]="labelTitle"></app-middle-title>

  <!-- List Reviews -->
  <div class="reviews-container">
    <!-- FIXME HardCoded review -->
    <app-user-review [message]="'Tarefa realizada com sucesso'"
                     [reviewDate]="'1547579618758'"
                     [reviewerName]="'David Fortunato'"
                     [reviewerUID]="'2mNg5uZOC8aRkbWelDrUxs8vkd22'"
                     [reviewLevel]="3"
                     [reviewLink]="'https://www.w3schools.com/cssref/css3_pr_word-break.asp'"
                     [reviewTitle]="'CSS word-break Property'"
                     [avatarUrl]="'https://firebasestorage.googleapis.com/v0/b/bizcate-app-dev.appspot.com/o/2mNg5uZOC8aRkbWelDrUxs8vkd22%2Fprofile_avatar_pic?alt=media&token=6eab1959-35f9-4148-bb97-e4ea372cb8b7'"
    ></app-user-review>
    <app-user-review [message]="'Tarefa realizada com sucesso'"
                     [reviewDate]="'1547579618758'"
                     [reviewerName]="'David Fortunato'"
                     [reviewerUID]="'2mNg5uZOC8aRkbWelDrUxs8vkd22'"
                     [reviewLevel]="5"
                     [reviewLink]="'https://www.w3schools.com/cssref/css3_pr_word-break.asp'"
                     [reviewTitle]="'CSS word-break Property'"
                     [avatarUrl]="'https://firebasestorage.googleapis.com/v0/b/bizcate-app-dev.appspot.com/o/2mNg5uZOC8aRkbWelDrUxs8vkd22%2Fprofile_avatar_pic?alt=media&token=6eab1959-35f9-4148-bb97-e4ea372cb8b7'"
    ></app-user-review>
  </div>
</div>
