@import "placeholders";
@import "mixins";

.reviews-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


app-user-review {
  max-width: 32%;
  min-width: 32%;
  padding: 10px;
}


@include respond-to(mobile) {
  app-user-review {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    padding: 0;
    margin-bottom: 25px;
  }
}
