<div class="app-grid-container-2-columns">

  <!-- My Open Tasks -->
  <app-dashboard-list-tasks class="app-grid-container-2-columns-child" [title]="labelMyOpenTasks" [listTasks]="myTasksOpened$ | async"></app-dashboard-list-tasks>

  <!-- My Completed Tasks -->
  <app-dashboard-list-tasks class="app-grid-container-2-columns-child" [title]="labelCompletedTasks"
                            [listTasks]="myTasksDone$ | async"></app-dashboard-list-tasks>

  <!-- Received Offers -->
  <app-dashboard-list-tasks class="app-grid-container-2-columns-child" [title]="labelReceivedOffers"
                            [listOffers]="myReceivedOffers$ | async"></app-dashboard-list-tasks>

  <!-- Recent Messages -->
  <app-dashboard-list-conversations *ngIf="dashboardData" class="app-grid-container-2-columns-child"
                                    [title]="labelRecentMessages"
                                    [listConversations]="dashboardData.listReceivedMessages"
                                    [userProfile]="userProfile">
  </app-dashboard-list-conversations>
</div>
