<div class="container">
  <!-- Left avatar -->
  <img class="app-profile-avatar app-shadow" [style.opacity]="(getAvatarAlign() === 'LEFT') ? 1 : 0"
       src="{{getUserConversationPhotoURL()}}"/>

  <!-- Message Container -->
  <div class="message-container app-shadow" [ngClass]="getMessageContainerClass()">
    <p class="message-date app-subtitle" [ngClass]="getMessageContainerClass()">{{getMessageDate()}}</p>
    <p class="message-text app-text" [ngClass]="getMessageContainerClass()">{{message.message}}</p>
  </div>

  <!-- Right Avatar -->
  <img class="app-profile-avatar app-shadow" [style.opacity]="(getAvatarAlign() === 'RIGHT') ? 1 : 0"
       src="{{getUserConversationPhotoURL()}}">
</div>
