@import 'mixins';
@import 'placeholders';

.container {
  display: flex;
  justify-content: stretch;
  padding: 10px;
}


.message-container {
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  padding: 8px;
  border-radius: 10px;

  &.isSender {
    background: #EBEEF2;
  }

  &.isReceiver {
    background: #2483F3;
  }
}


.message-text {
  margin: 5px 0 0 0;
  font-size: 16px;

  &.isSender {
    color: #222222;
  }

  &.isReceiver {
    color: #FFF;
  }
}

.message-date {
  margin: 2px 0 0 0;
  font-size: 12px;

  &.isSender {
    color: #666666;
  }

  &.isReceiver {
    color: #FAFAFA;
  }
}
