<div class="container">
  <div class="title-container">
    <span class="app-title">{{title}}</span>
    <span *ngIf="subtitle" class="arrow app-title"> > </span>
    <span *ngIf="subtitle" class="app-subtitle">{{subtitle}}</span>
  </div>
  <div *ngIf="!isMobile && (actionButtons && actionButtons.length > 0)" class="buttons-container">
    <app-action-button class="action-button" *ngFor="let actionButton of actionButtons"
                       [text]="actionButton.label"
                       [backgroundColor]="actionButton.backgroundColor"
                       [textColor]="actionButton.textColor"
                       [style]="'rounded'"
                       [styleColor]="actionButton.styleColor"
                       [state]="actionButton.state ? actionButton.state : 'enabled'"
                       (onClick)="onButtonClick(actionButton)">
    </app-action-button>
  </div>
</div>
