@import 'mixins';
@import 'placeholders';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title-container {
  display: flex;
  align-items: center;

}

.app-title {
  font-size: 20px;
  margin-top: 0;
  text-align: center;
  color: #9193A6;
}

.arrow {
  margin-left: 8px;
  margin-right: 8px;
}

.app-subtitle {
  font-size: 25px;
  margin-top: 0;
  text-align: center;
  color: #485C6E;
}

.app-separator {
  width: 100%;
}

.buttons-container {
  position: absolute;
  right: 0;
  display: flex;
  padding-right: $app-root-side-padding;
  align-items: center;
}

.action-button {
  min-width: 100px;
  margin-left: 5px;
}


@include respond-to(mobile) {
  .app-title {
    font-size: 13px;
  }
  .app-subtitle {
    font-size: 15px;
  }
}
