<app-root-container [headerTitle]="headerTitle"
                    [actionButtons]="headerActionButtons"
                    (actionButtonClick)="onActionButtonClick($event)">

  <app-container-card class="content">
    <app-task-details-content [taskAPIResponse]="taskDetails$ | async"
                              [userProfile]="userProfile$ | async"
                              [taskOffersResponse]="taskOffers$ | async"></app-task-details-content>
  </app-container-card>

</app-root-container>
