<div class="container">
  <app-middle-title [title]="labelTitle"></app-middle-title>
  <app-shared-city-form class="city-form" [enabledFields]="!defaultIsRemoteTask" [defaultSelectedCity]="defaultLocation"
                        (citySelected)="onCitySelected($event)"></app-shared-city-form>
  <div class="remote-container">
    <mat-checkbox class="app-text"
                  (change)="onRemoteWorkChange($event)"
                  [checked]="defaultIsRemoteTask">{{labelRemoteWork}}</mat-checkbox>
  </div>
</div>
