@import 'placeholders';
@import 'mixins';

.star-icon {
  color: $app-orange-color;
}

.container {
  display: flex;
  align-items: center;
}


.stars-container-expanded {
  display: flex;
  flex-direction: row;

  .stars-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}


.star-container-short {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .star-text {
    margin-right: 5px;
  }
}
