<div class="container">

  <!-- Short Star Container -->
  <div *ngIf="type === 'SHORT'" class="star-container-short">
    <span class="star-text app-text">{{level}}</span>
    <mat-icon class="star-icon" [fontIcon]="20">{{level === 5 ? 'star' : 'star_half'}}</mat-icon>
  </div>

  <!-- Stars Container -->
  <div *ngIf="type === 'EXPANDED'" class="stars-container-expanded">
    <div class="stars-container" *ngFor="let index of [1,2,3,4,5]">
      <mat-icon class="star-icon"
                [style.cursor]="isEditable ? 'pointer' : 'auto'"
                [fontIcon]="20" (click)="onLevelSelectedClick(index)">{{index <= level ?
        'star' : 'star_border'}}
      </mat-icon>
    </div>
  </div>
</div>
