@import "placeholders";
@import "mixins";

.container {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

.header-container {
  display: flex;
  justify-content: center;
}

.line-container {
  margin-top: 50px;
}
