<app-root-container [headerTitle]="headerTitle"
                    [actionButtons]="headerActionButtons"
                    (actionButtonClick)="onActionButtonClick($event)">

  <app-container-card class="container" *ngIf="professionalProfile">
    <div class="header-container">
      <app-profile-header-photo [photUrl]="professionalProfile.logoUrl"
                                [title]="professionalProfile.name"
                                [subtitle]="getProfessionalLocation()"
                                [description]="professionalProfile.description"></app-profile-header-photo>
    </div>

    <!-- Professional Infos -->
    <app-profile-user-infos class="line-container" *ngIf="userProfile"
                            [avatarUrl]="userProfile.photoUrl"
                            [name]="userProfile.name"
                            [location]="getUserLocation()"
                            [type]="'USER'"
                            [uid]="userProfile.uid"></app-profile-user-infos>

    <!-- Social networks -->
    <app-profile-social-networks class="line-container" *ngIf="userProfile.linkedinUrl || userProfile.facebookUrl"
                                 [facebookUrl]="userProfile.facebookUrl"
                                 [linkedinUrl]="userProfile.linkedinUrl">
    </app-profile-social-networks>

    <!-- TODO: Validate Badges -->

    <!-- Skills -->
    <app-profile-skills-container class="line-container"
                                  [skills]="professionalProfile.professionalSkills"></app-profile-skills-container>

    <!-- Portfolio -->
    <app-profile-portfolio-container *ngIf="portfolioList" class="line-container"
                                     [portfolioList]="portfolioList"></app-profile-portfolio-container>

    <!-- TODO Reviews -->
    <app-profile-reviews-container class="line-container"></app-profile-reviews-container>

  </app-container-card>

</app-root-container>
