@import 'mixins';
@import 'placeholders';

$sidenav-option-width: 80%;

:host:hover {
  cursor: pointer;
}

.container {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: end;
  flex-direction: row-reverse;
}

.right-container {
  min-width: $sidenav-option-width;
  max-width: $sidenav-option-width;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding-left: 10px;
  padding-right: 10px;
  background: transparent;

  &.isSelected {
    background: $app-sidenavbar-background-selected-color;

    .option-label {
      color: $app-sidenavbar-text-selected-color;
      font-weight: bold;
    }
  }
}

.option-label {
  font-size: 19px;
  color: $app-sidenavbar-text-notselected-color;
  font-weight: normal;
  margin-top: 8px;
  margin-bottom: 8px;
}
