<div *ngIf="!optionData.invisible" class="container" (click)="optionClick()">
  <div class="right-container" [ngClass]="getOptionClass()">
    <span class="option-label app-subtitle">{{optionData.label}}</span>
  </div>
</div>
