<div class="container" *ngIf="mapHeight > 0">
  <div class="map-display" style="height: 500px;"
       leaflet
       [leafletOptions]="options"
       [leafletLayers]="layers"
       [(leafletZoom)]="zoom"
       [(leafletCenter)]="centerLocation"
       (leafletMapReady)="onMapReady($event)"
       (leafletMapMove)="onMapMoved($event)"
       (leafletMapZoom)="onMapZoomChanged($event)">

    <div *ngIf="isEditabled"
         leafletDraw
         [leafletDrawOptions]="drawOptions"
         (leafletDrawCreated)="onDrawCreated($event)"
         (leafletDrawEdited)="onDrawEdited($event)"
         (leafletDrawDeleted)="onDrawRemoved($event)"
         (leafletDrawReady)="onDrawReady($event)"></div>
  </div>
</div>
