<app-root-container [requireUserAuthenticated]="false">
  <div [ngSwitch]="userState" class="root-container">
    <!-- Login Container -->
    <app-container-card *ngSwitchCase="userStateType.NOT_LOGGEDIN"
                        [title]="titleLoginContainer"
                        [titleAlign]="'CENTER'" class="login-container">

      <app-login-firebase></app-login-firebase>

    </app-container-card>

    <!-- Validate Account container -->
    <app-container-card *ngSwitchCase="userStateType.REGISTERED_NOT_VALIDATED_EMAIL"
                        [userStateType]="userState"
                        [title]="titleValidateAccountContainer"
                        [titleAlign]="'CENTER'"
                        class="login-container">
      <!-- User Not validated container -->
      <app-validate-account-container></app-validate-account-container>
    </app-container-card>

    <!-- Validate Phone number -->
    <app-container-card *ngSwitchCase="userStateType.REGISTERED_NOT_VALIDATED_PHONE"
                        [userStateType]="userState"
                        [title]="titleValidatePhoneContainer"
                        [titleAlign]="'CENTER'"
                        class="login-container">
      <!-- User Not validated container -->
      <app-validate-phone></app-validate-phone>
    </app-container-card>
  </div>

</app-root-container>
