@import 'mixins';
@import 'placeholders';

.root-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.login-container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  min-height: 100%;
  min-width: 100%;
  flex: 1 auto;
}

@include respond-to(desktop) {
  .login-container {
    max-width: 60%;
    min-width: 60%;
  }
}
