@import 'mixins';

[gbToolbar] {
    > mat-toolbar {
        .buttons {

            .material-icons {
                vertical-align: middle;
            }
        }
    }

    &.invisible {
        display: block;
        height: 0;
        overflow: hidden;
    }
}

[gbIcon] {
    @include background-cover(center, center);
    border: none;
}