@import 'variables';
@import '~@angular/material/theming';

@mixin line-clamp($nb-lines) {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
}

@mixin square($size) {
  @include size($size, $size);
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin responsive-image($padding-percent) {
  height: 0;
  padding-bottom: $padding-percent;
  overflow: hidden;
  background: transparent center center no-repeat;
  background-size: cover;
  img {
    width: 100%;
  }
}

@mixin gradient-vertical($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%) {
  background-image: linear-gradient(to bottom, $start-color $start-percent, $end-color $end-percent);
  background-repeat: repeat-x;
}

@mixin background-cover($x, $y) {
  background: transparent $x $y no-repeat;
  background-size: cover;
}

@mixin blur($radius) {
  filter: url("data:image/svg+xml;utf8,<svg version=\"1.1\" xmlns=\"http://www.w3.org/2000/svg\"><filter id=\"blur\"><feGaussianBlur stdDeviation=\"#{$radius}\" /></filter></svg>#blur"); /* Firefox, Safari, Chrome*/
  filter: blur($radius+px);
}

@mixin keyframe($animation_name) {
  @-webkit-keyframes #{$animation_name} {
    @content;
  }

  @-moz-keyframes #{$animation_name} {
    @content;
  }

  @keyframes #{$animation_name} {
    @content;
  }
}

@mixin remove-borders($corners...) {
  @each $corner in $corners {
    border-#{$corner}: none;
  }
}

@mixin flex-layout($direction) {
  display: flex;
  flex-direction: $direction;
}

@mixin scrollable-element() {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

@mixin overlay-arrow($sizeInPx) {
  position: fixed;
  z-index: 10;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  cursor: pointer;
  @include square($sizeInPx);
  background: rgba(0, 0, 0, .2);
  border-radius: 50%;
  overflow: hidden;
  transition: background-color 100ms ease-in-out;
  @include flex-layout(column);
  justify-content: center;
  align-items: center;

  &:hover {
    background: rgba(0, 0, 0, .6);
  }

  &.right {
    [gbIcon] {
      transform: rotate(180deg);
    }
  }

  [gbIcon] {
    display: block;
    color: white;
    font-size: $sizeInPx / 3 !important;
    position: relative;
  }
}

@mixin material-bullet($size) {
  border-radius: 50%;
  margin: 5px;
  text-indent: -999px;
  opacity: .9;
  position: relative;
  @include square($size);
  border: 2px solid transparent;

  .inner {
    position: absolute;
    transition: all .2s ease-out;
    transform: scale(0);
    @include square($size - 8);
    left: 2px;
    top: 2px;
    border-radius: 50%;
    display: block;
  }

  &.active {
    .inner {
      transform: scale(1);
    }
  }

  @include respond-to(desktop) {
    &:hover {
      .inner {
        transform: scale(1);
      }
    }
  }

  @include respond-to(small-screen) {
    $size: $size - 4;

    @include square($size);

    .inner {
      @include square($size - 8);
    }
  }
}

@mixin respond-to($media) {
  @if $media == portrait {
    @media only screen and (orientation: portrait) {
      @content;
    }
  }
  @if $media == landscape {
    @media only screen and (orientation: landscape) {
      @content;
    }
  }
  @if $media == mobile {
    @media only screen and (max-width: 736px) {
      @content;
    }
  } @else if $media == tablet {
    @media only screen and (min-width: 737px) and (max-width: 1135px) {
      @content;
    }
  }
  @if $media == small-screen {
    @media only screen and (max-width: 1135px) {
      @content;
    }
  } @else if $media == desktop {
    @media only screen and (min-width: 1136px) {
      @content;
    }
  } @else if $media == medium-screen {
    @media only screen and (min-width: 1136px) and (max-width: $screen-lg) {
      @content;
    }
  } @else if $media == large-screen {
    @media only screen and (min-width: $screen-lg) {
      @content;
    }
  } @else if $media == big-screen {
    @media only screen and (min-width: $screen-xl) {
      @content;
    }
  } @else if $media == not-big-screen {
    @media only screen and (max-width: $screen-xl) {
      @content;
    }
  }
  @if $media == tablet-or-desktop {
    @media only screen and (min-width: 737px) {
      @content;
    }
  }
  @if $media == ie11 {
    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
      @content;
    }
  }
  @if $media == iphone-x {
    @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
      @content;
    }
  }
}

// Setting left and right margin for an ltr display
// Generates same spacing for rtl
@mixin direction-margin($left, $right) {
  [dir="ltr"] &, & {
    margin-left: $left;
    margin-right: $right;
  }
  [dir="rtl"] &, [dir="rtl"] & {
    margin-left: $right;
    margin-right: $left;
  }
}

// To be used on mat-sidenav selector
// to change the direction of appearance
@mixin sidenav-from-bottom($width: 100%) {
  width: $width !important;
  &.mat-drawer-closing, &.mat-drawer-closed {
    transform: translate3d(0, 100%, 0);
  }
}

// General spacing rule for components that using
// Horizontal-scroll component to display their items
// Widgets banner classic and visual
@mixin horizontal-scroll-spacing($topbottom, $between: $topbottom) {
  .list-body-content {
    padding: $topbottom 0;

    [gbHorizontalScrollCell] {
      padding: 0;
      margin: 0 $between / 2;

      &:first-child {
        margin-left: $topbottom;
      }
      &:last-child {
        padding-right: $topbottom;
        margin-right: 0;
      }
    }
  }
}

@mixin detail-html-styles() {
  h1 {
    font-weight: normal;
  }

  h2 {
    font-size: 1.6em;
  }

  h3 {
    font-size: 1.3em;
  }

  h4 {
    font-size: 1.1em;
  }

  .subtitle {
    margin-top: 20px;
  }

  .content {
    position: relative;
    overflow: hidden;

    div.texte:first-child {
      h1:first-child {
        margin-top: 0;
      }
    }
  }

  .content, .content * {
    line-height: 1.6em;
  }

  .item-author-avatar {
    &.text-center {
      display: block;
      margin-bottom: 10px;
    }

    .avatar {
      margin-top: 10px;
    }
  }

  .intertitre {
    font-size: 1.1em;
    font-weight: bold;
  }

  a {
    font-weight: bold;
  }

  .photo {
    margin: 20px 0;
  }

  img {
    max-width: 100% !important;
  }

  p {
    margin-top: 10px;
  }

  iframe, video {
    margin-bottom: 20px;
  }

  .video-wrapper {
    position: relative;
    padding-top: 25px;
    padding-bottom: 56.25%;
    height: 0;
    margin-bottom: 20px;

    object, embed, iframe, video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  blockquote {
    font-style: italic;
    font-family: Georgia, Times, "Times New Roman", serif;
    padding: {
      top: 2px;
      left: 20px;
      right: 8px;
      bottom: 2px;
    }
    border-style: solid;
    border-color: #ccc;
    border-width: 0;
    border-left-width: 5px;
  }

  bdo[dir="rtl"] {
    blockquote {
      padding: {
        left: 8px;
        right: 20px;
      }
      border-left-width: 0;
      border-right-width: 5px;
    }
  }

  br.clear {
    display: none;
  }

  ul {
    padding-left: 40px !important;

    li {
      list-style-type: initial !important;
    }
  }
}

@mixin windows-webkit-scrollbar() {
  &::-webkit-scrollbar-track:vertical, *::-webkit-scrollbar-track:vertical {
    background-color: rgba(0, 0, 0, 0);
    border-right: 3px solid rgba(255, 255, 255, 0.6);
  }

  &::-webkit-scrollbar, *::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-thumb:vertical, *::-webkit-scrollbar-thumb:vertical {
    background-color: rgba(0, 0, 0, 0);
    border-right: 3px solid rgba(50, 50, 50, 0.5);
  }

  &::-webkit-scrollbar-thumb:vertical:hover, *::-webkit-scrollbar-thumb:vertical:hover {
    background-color: rgba(150, 150, 150, 0.7);
    border-right: none;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track:horizontal, *::-webkit-scrollbar-track:horizontal {
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 3px solid rgba(255, 255, 255, 0.6);
  }

  &::-webkit-scrollbar:horizontal, *::-webkit-scrollbar:horizontal {
    height: 3px;
  }

  &::-webkit-scrollbar-thumb:horizontal, *::-webkit-scrollbar-thumb:horizontal {
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 3px solid rgba(50, 50, 50, 0.5);
  }

  &::-webkit-scrollbar-thumb:horizontal:hover, *::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: rgba(150, 150, 150, 0.7);
    border-bottom: none;
    border-radius: 10px;
  }
}

@mixin swipe-always-open-rules($width) {
  width: calc(100% - #{$width}) !important;
  left: $width !important;
}

@mixin fixed-with-swipe-always-open($host-context: false, $el:null) {
  @if $host-context == true {
    :host-context(.swipe-always-open) #{$el} {
      @include swipe-always-open-rules(320px);
    }
    :host-context(.little-swipe-always-open.small) #{$el} {
      @include swipe-always-open-rules(70px);
    }
    :host-context(.little-swipe-always-open.medium) #{$el} {
      @include swipe-always-open-rules(93px);
    }
    :host-context(.little-swipe-always-open.large) #{$el} {
      @include swipe-always-open-rules(110px);
    }
  } @else {
    .swipe-always-open #{$el} {
      @include swipe-always-open-rules(320px);
    }
    .little-swipe-always-open.small #{$el} {
      @include swipe-always-open-rules(70px);
    }
    .little-swipe-always-open.medium #{$el} {
      @include swipe-always-open-rules(93px);
    }
    .little-swipe-always-open.large #{$el} {
      @include swipe-always-open-rules(110px);
    }
  }
}

@function -gb-ad-banner-height($offset: 0px) {
  @return calc(100vw * (90 / 728) + #{$offset});
}

@mixin aspect-ratio($ratio: 1 1) {
  $width: 100%;
  $height: percentage(nth($ratio, 2) / nth($ratio, 1));

  width: $width;
  min-height: $height;
  height: $height;
}

@mixin badge($size: $badge) {
  position: absolute;
  height: $size;
  width: $size;
  border-radius: $size;
  top: -#{$size / 4};
  right: -#{$size / 2};
  font-size: $size * .55;
  line-height: $size;
  text-align: center;
}

mat-icon {
  color: $app-icon-gray-color;
}

/** CUSTOMIZE MATERIAL DESIGN **/

@include mat-core();

$app-primary: mat-palette($mat-blue);
$app-accent: mat-palette($mat-green);

$app-theme: mat-light-theme($app-primary, $app-accent);

@mixin mix-app-theme($app-theme) {
  $primary: map-get($app-theme, primary);
  $accent: map-get($app-theme, accent);

  .mat-button-toggle {
    background-color: mat-color($primary);
    color: mat-color($primary, default-contrast);
    border-color: mat-color($primary);
  }

  .mat-button-toggle-checked {
    background-color: mat-color($primary, default-contrast);
    color: mat-color($primary);
    border-color: mat-color($primary);
  }
}

// Include the mixin
@include mix-app-theme($app-theme);
