@import 'variables';
@import 'mixins';

%gradient {
    @include gradient-vertical(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.6), 0, 50%);
}
        
%opacity {
    background-color: rgba(0, 0, 0, 0.6);
}

%app-mat-drawer-content {
    flex-direction: column;
}

%app-mat-sidenav {
    width: $sidenav-width;
    border: none;
    background-clip: padding-box;
    box-shadow: 0 3px 10px 0 rgba(black, .16) !important;

    @include respond-to(tablet) {
        width: $sidenav-width-tablet;
    }
}

%app-toolbar-inside-up-content {
    height: 80px;
    display: block;
    position: relative;
    backface-visibility: hidden;

    mat-toolbar {
        padding: 0;
    }

    .buttons {
        .action {
            margin-left: auto;
        }
        .sharing {
            @include flex-layout(row);
        }
    }
}
%app-toolbar-inside-up-navbar {
    height: auto;
    transition: transform 300ms ease-in-out;
    transform: translate(100%,0);
    position: absolute;
    top: 0;
    right: 16px;

    mat-toolbar { padding: 0 16px; }

    &.visible {
        transform: translate(0,0);
    }
}

%material-dialog-link {
    background-color: transparent;
    text-transform: uppercase;
    color: #2196F3;
    &:hover, &.mat-button-focus {
        &:after {
            background-color: transparent;
        }
    }
}

%image-effect-hover {
    &.image-effect-zoom {
        transform: scale(1.1);
    }

    &.image-effect-dezoom {
        transform: scale(1);
    }

    &.image-effect-opacity {
        &:after {
            opacity: 1;
        }
    }
}

%app-background-image-inner-content {
    position: absolute;
    top: 0;
    left: 0;
    @include square(100%);
    @include flex-layout(column);
    justify-content: center;
    align-items: center;
    text-align: center;

    &.opacity { @extend %opacity; }
    &.gradient { @extend %gradient; }

    &.bottom { justify-content: flex-end; }
    &.middle { justify-content: center; }
    &.top { justify-content: flex-start; }
    &.left { align-items: flex-start; text-align: start; }
    &.center { align-items: center; text-align: center }
    &.right { align-items: flex-end; text-align: end; }
}

%material-input-errors {
    .mat-form-field-label {
        color: $material-red !important;
    }
    .mat-form-field-underline {
        background-color: $material-red !important;
    }
    .mat-form-field-label {
        color: $material-red !important;
    }
    .mat-form-field-ripple {
        background-color: $material-red !important;
    }
}


/************** BIZCATE *****************/

.app-shadow-around {
  box-shadow: 0 0px 20px rgba(0,0,0,0.12), 0 0px 20px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.app-shadow {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.app-separator {
  height: 2px;
  background: $app-separator-color;
  width: 100%;
}
.app-separator-soft {
  height: 1px;
  background: $app-separator-color;
  width: 100%;
  opacity: 0.4;
}

.app-title {
  font-family: $app-title-fontfamily;
  font-size: xx-large;
}

.app-username-link {
  color: $app-clickable-label;
  font-size: 20px;
  cursor: pointer;
}

.app-subtitle {
  font-family: $app-subtitle-fontfamily;
  font-size: x-large;
}

.app-text {
  color: $app-text-black;
  font-family: $app-text-fontfamily;
  font-size: large;
}

.app-error-text {
  font-family: $app-text-fontfamily;
  font-size: medium;
  color: $app-text-red-color;
}

.app-profile-avatar {
  width: $app-avatar-size;
  height: $app-avatar-size;
  border-radius: 50%;
}

.app-empty-box-label {
  font-size: 15px;
  color: $app-subtitle-color;
  border-style: dashed;
  border-width: 1px;
  border-radius: 5px;
  text-align: center;
  padding: 4px;
}

.app-line-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.app-overlay-blurred {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  // background:black;
  // background:rgba(0,0,0,0.2);

  filter:blur(4px);
  -o-filter:blur(4px);
  -ms-filter:blur(4px);
  -moz-filter:blur(4px);
  -webkit-filter:blur(4px);
}

.app-grid-container-2-columns {
  width: 100%;
  max-width: 100%;
  flex-wrap: wrap;
  display: flex;
  align-items: stretch;
  justify-content: space-between;

}

.app-grid-container-2-columns-child {
  flex-grow: 1;
  min-height: 100%;
  width: 100%;
  max-width: 49.5%;
  min-width: 49.5%;
  margin-bottom: 10px;
  justify-self: stretch;
  align-self: stretch;

}


@include respond-to(mobile) {

  .app-grid-container-2-columns {
    flex-direction: column;
  }

  .app-grid-container-2-columns-child {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
  }
}
