@import '~@angular/material/theming';
@import '~@angular/cdk/overlay';
// Plus imports for other components in your app.

// Include the shared styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$gb-app-primary: mat-palette($mat-indigo);
$gb-app-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$gb-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-light-theme($gb-app-primary, $gb-app-accent, $gb-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat-core-theme($theme);
@include mat-autocomplete-theme($theme);
@include mat-button-theme($theme);
@include mat-checkbox-theme($theme);
@include mat-datepicker-theme($theme);
@include mat-dialog-theme($theme);
@include mat-form-field-theme($theme);
@include mat-grid-list-theme($theme);
@include mat-input-theme($theme);
@include mat-menu-theme($theme);
@include mat-radio-theme($theme);
@include mat-select-theme($theme);
@include mat-sidenav-theme($theme);
@include mat-slider-theme($theme);
@include mat-slide-toggle-theme($theme);
@include mat-toolbar-theme($theme);
@include mat-progress-spinner-theme($theme);
@include mat-snack-bar-theme($theme);
@include mat-dialog-theme($theme);
@include mat-radio-theme($theme);
@include mat-toolbar-theme($theme);
@include mat-tooltip-theme($theme);
@include mat-bottom-sheet-theme($theme);
@include cdk-overlay();
