$badge: 20px;

// Screen size (based on material)
$screen-xs: 600px;
$screen-sm: 960px;
$screen-md: 1280px;
$screen-lg: 1440px;
$screen-xl: 1920px;

$navbar-height: 64px;
$navbar-height-mobile: 44px;
$sidenav-width: 400px;
$sidenav-width-tablet: 320px;

///////////////////////////
// Materialize variables //
///////////////////////////

// Media Query Ranges
$medium-screen: $screen-md;
$large-screen: $screen-lg;

// Typography
$off-black: rgba(0, 0, 0, 0.87) !default;
$h1-fontsize: 4.2rem !default;
$h2-fontsize: 3.56rem !default;
$h3-fontsize: 2.92rem !default;
$h4-fontsize: 2.28rem !default;
$h5-fontsize: 1.64rem !default;
$h6-fontsize: 1rem !default;

// Colors
$material-red: #f44336;

/**************** BIZCATE VARS *****************/
@import url('https://fonts.googleapis.com/css?family=Raleway|Sarabun|Thasadith');

// Font family
$app-title-fontfamily: 'Raleway', sans-serif;
$app-subtitle-fontfamily: 'Thasadith', sans-serif;
$app-text-fontfamily: 'Sarabun', sans-serif;
$app-default-font-family: $app-text-fontfamily;

// Text colors
$app-subtitle-color: #AAAAAA;
$app-title-link-color: #3C8EB0;
$app-text-white: #FFFFFF;
$app-text-black: #000000;
$app-title-color: #000000;
$app-text-red-color: #FE4F34;
$app-middle-title-color: #555B75;
$app-clickable-label: #3C8EB0;

// Content size
$app-max-width-size: 100%;
$app-max-center-container-width-size: 100%;
$app-root-side-padding: 20px;
$app-container-side-padding: 15px;
$app-sidenavbar-width: 200px;

// Colors
$app-root-background: #F6F7FC;
$app-background: #F6F7FC;
$app-root-content-background: $app-background;
$app-toolbar-background: #FFF;
$app-primary-color: #3C8EB0;
$app-actionbutton-primary-bgcolor: #3C8EB0;
$app-background-item-selected: #F2F5F9;
$app-background-item: #FFFFFF;
$app-background-gray: #F2F2F2;
$app-background-gray-border: #F0F0F0;
$app-background-red: #FE4F34;
$app-separator-color: #F0F0F0;
$app-border-color: #F1F1F1;
$app-orange-color: #EB936D;
$app-icon-gray-color: #BCC2DA;
$app-box-container-background: #F6F8FD;
$app-text-gray: #666666;

// Sidenav bar
$app-sidenavbar-background: #323759;
$app-sidenavbar-title-color: #CBCCD5;
$app-sidenavbar-text-notselected-color: #999BAC;
$app-sidenavbar-text-selected-color: #FFF;
$app-sidenavbar-background-selected-color: #F1557E;


// Image
$app-avatar-size: 40px;
$app-avatar-small-size: 40px;
$app-avatar-medium-size: 55px;
$app-avatar-large-size: 70px;

// Shadows
$app-bottom-shadow: 0 5px 5px rgba(0,0,0,0.12);


// Padding
$app-content-padding: 8px;
$app-title-margin-top: 20px;
$app-title-margin-bottom: 10px;
$app-list-top-margin: 5px;
$app-inside-content-side-margin: 10px;
$app-side-margin-centered-content: 25px;
$app-side-icon-margin-right: 10px;

// Font sizes
$app-middle-title-size: large;
$app-label-size: 20px;
$app-label-small-size: 16px;
$app-description-size: 18px;
