@import 'normalize';
@import 'fonts';
@import 'variables';
@import 'mixins';
@import 'typography';
// @import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'theme';
@import 'directives';

html, body {
    height: 100vh;
    width: 100vw;
}

html {
 box-sizing: border-box;
}
*, *:before, *:after {
 box-sizing: inherit;
 -webkit-tap-highlight-color: transparent;
}

body {
	font-family: $app-default-font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overflow-x: hidden;

    @media only screen and (min-width: 0) {
        font-size: 15px;
    }

    @media only screen and (min-width: $screen-sm) {
        font-size: 15.5px;
    }

    @media only screen and (min-width: $screen-md) {
        font-size: 16px;
    }

    &.tablet, &.mobile {
        * {
            $cursorUrl: "/front-assets/img/touch-cursor.png";

            cursor: url($cursorUrl) 13 13, auto !important;
            cursor: -webkit-image-set(url($cursorUrl) 1x, url(/front-assets/img/touch-cursor@2x.png) 2x) 13 13, auto !important;
        }
    }

}

* {
    word-wrap: break-word;
    touch-action: manipulation;
}

hr {
    height: 0;
    border: 0;
    border-top-width: 1px;
    display: block;
    &.sep {
        margin: 20px 0 20px;
        width: 80px;
    }    
}

ul {
    margin: 0;

    &:not(.browser-default) {
        padding-left: 0;
        list-style-type: none;

        li {
            list-style-type: none;
        }
    }
}

img {
    max-width: 100%;
}

blockquote {
  margin: 20px 0;
  padding-left: 1.5rem;
}

strong {
    font-weight: bold;
}

.clear {
    clear: both;
}

.boxed {
	width: 100%;
	margin: auto;
	min-width: 1000px;

    @include respond-to(small-screen) {
        min-width: initial;
    }
}

.center, .text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right
}

/** Table display**/
.table {
    display: table;
    table-layout: fixed;
    width: 100%;

    .table-row {
        display: table-row;
    }

    .table-cell {
        display: table-cell;
    }
}


/** Author avatar **/
.avatar {
    border-radius: 50%;
    @include square(48px);
    line-height: 48px;
    display: inline-block;
    background-size: cover;
    background-position: center center;

    &.avatar-color {
        color: white;
        font-size: 30px;
        font-weight: 900;
        text-align: center;
    }

    @include respond-to(tablet) {
        @include square(36px);
        line-height: 36px;

        &.avatar-color {
            font-size: 20px;
        }
    }

    @include respond-to(mobile) {
        @include square(32px);
        line-height: 32px;

        &.avatar-color {
            font-size: 18px;
        }
    }
}

.icon {
    background: none;
    border: none;
    padding: 0;
    &[disabled] {
        opacity: 0.7;    
    }
}

.rounded {
    border-radius: 50%;
}

.hidden {
    display: none !important;
}

/** MATERIAL2 OVERRIDE **/
.cdk-overlay-dark-backdrop {
    background: rgba(#000000, .7);
}

// Remove the dark background on hover when 
// mat-button has gbHoverPantonizedColor directive
[mat-button] {
    &[changeProperty="background-color"] {
        &:hover {
            &:after {
                background-color: transparent;
            }
        }
    }
}

// Set the default background color of FAB to transparent so they don't
// show pink (the default color) if the color from the settings takes too much
// time to be displayed (in map section especially)
[mat-fab].mat-fab {
    background-color: transparent;
}

.mat-drawer-container {
    background-color: initial;
}

.snack-error {
    @include mat-elevation(6);
    background: #323232;
    border-radius: 2px;
    box-sizing: content-box;
    display: block;
    height: 20px;
    max-width: 568px;
    min-width: 288px;
    overflow: hidden;
    padding: 14px 24px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: white;

    @include cdk-high-contrast {
        border: solid 1px;
    }
}

.mat-toolbar, .mat-toolbar h1, .mat-toolbar h2, .mat-toolbar h3, .mat-toolbar h4, .mat-toolbar h5, .mat-toolbar h6 {
    line-height: initial;
}

.mat-toolbar {
    background-color: transparent;
}

.stickto-filler {
    max-width: 100%;
}

@include fixed-with-swipe-always-open(false, '.sticked');

/** END SCROLL REFACTOR **/

/** iOS hack to prevent zoom when focusing an input **/
.is-ios {
    [matInput],
    select:focus,
    textarea {
        font-size: 16px !important;
    }
}

@include respond-to(mobile) {
    [gbBackgroundImageHeaderShift]:not(.disabled) {
        padding-top: calc(var(--shift-height) + env(safe-area-inset-top)) !important;
    }
}

snack-bar-container.mat-snack-bar-container {
    padding-bottom: unquote('max(14px, env(safe-area-inset-bottom))');
}



/******** CUSTOM Bizcate ***********/

// Error on the forms
mat-error {
  color: #FF0000;
  font-size: 10px;
}

html, body {
  min-height: 100%;
  height: auto;
  margin: 0;
}

.snack-bar-error{
  color: #f44336;
}


// Setup Material
$app-primary: mat-palette($mat-light-blue);
$app-accent:  mat-palette($mat-red);
$app-theme: mat-light-theme($app-primary, $app-accent);
@include angular-material-theme($app-theme);
