@import "placeholders";
@import "mixins";

.container {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

app-middle-title {
  margin-bottom: 20px;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  app-skill-item {
    max-width: 49%;
    min-width: 49%;
  }
}

@include respond-to(mobile) {
  .skills-container {
    app-skill-item {
      max-width: 100%;
      min-width: 100%;
    }
  }
}
