<div class="container">
  <app-middle-title [title]="labelTitle"></app-middle-title>
  <div class="skills-container" *ngIf="skills">
    <app-skill-item *ngFor="let item of skills" [hasRemoveButton]="false" [professionalSkill]="item"></app-skill-item>
  </div>
  <div class="empty-container" *ngIf="!skills">
    <!-- TODO Empty message -->
  </div>
</div>
