@import "placeholders";
@import "mixins";

.container {
  display: flex;
  flex-direction: column;
}

.url-container {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  align-items: center;

  .app-text {
    font-size: 18px;
    margin-left: 9px;
    word-break: break-all;
  }

  .icon {
    width: 20px;
    height: 20px;
  }
}


