<div class="container" *ngIf="linkedinUrl || facebookUrl">
  <app-middle-title [title]="labelTitle"></app-middle-title>
  <!-- Facebook URL -->
  <div class="url-container" *ngIf="facebookUrl">
    <img src="{{icFacebookUrl}}" class="icon">
    <a class="app-text" href="{{facebookUrl}}">{{facebookUrl}}</a>
  </div>

  <!-- LinkedIn URL -->
  <div class="url-container" *ngIf="linkedinUrl">
    <img src="{{icLinkedinUrl}}" class="icon">
    <a class="app-text" href="{{linkedinUrl}}">{{linkedinUrl}}</a>
  </div>
</div>
