<div class="container">
  <div class="item-container" *ngFor="let item of switchItems">
    <app-checkable-item [text]="item.label"
                        [textSelectedColor]="textSelectedColor"
                        [textColor]="textColor"
                        [backgroundSelectedColor]="backgroundSelectedColor"
                        [backgroundColor]="backgroundColor"
                        [isSelected]="currentSelection && item.id === currentSelection.id"
                        [data]="item"
                        (itemClicked)="checkableClicked($event)"></app-checkable-item>
  </div>
</div>
