@import "placeholders";
@import "mixins";

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .item-container {
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
