<div class="container">
  <div class="header">
    <app-action-button *ngIf="editable" [text]="labelSave"
                       [styleColor]="'GREEN'"
                       [state]="hasAnyPeriodSelected() ? 'enabled' : 'disabled'"
                       (onClick)="onSaveClick()"></app-action-button>
  </div>
  <mat-dialog-content>
    <app-calendar-events [view]="calendarViewType" [inputListEvents]="listEvents" [editable]="editable"
                         (updateListEvents)="updateListEvents($event)"></app-calendar-events>
  </mat-dialog-content>
</div>

