@import "mixins";
@import "placeholders";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .app-subtitle {
    color: $app-middle-title-color;
    font-size: 22px;
  }

  .list-share-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 8px;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 10px;
    border-width: 1px;
    border-color: $app-separator-color;
    border-style: solid;
    width: 100%;

    app-share-item {
      margin-right: 10px;
    }
  }

  .list-share-items:hover {
    border-color: $app-middle-title-color;
  }
}
