<div class="container">
  <span class="app-subtitle">{{labelShareTitle}}</span>

  <div class="list-share-items">
    <!-- Facebook -->
    <app-share-item [title]="'Facebook'" [iconUrl]="icFacebookUrl" [url]="generateFacebookUrl()"></app-share-item>

    <!-- Twitter -->
    <app-share-item [title]="'Twitter'" [iconUrl]="icTwitterUrl" [url]="generateTwitterUrl()"></app-share-item>

    <!-- Linkedin -->
    <app-share-item [title]="'LinkedIn'" [iconUrl]="icLinkedinUrl" [url]="generateLinkedinUrl()"></app-share-item>

  </div>
</div>
