@import "placeholders";
@import "mixins";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .icon {
    max-width: 40%;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-list {
  margin-top: $app-list-top-margin;
}

.form-validate-sms {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
