<div class="container">
  <img class="icon item-list" src="{{validatePhoneNumberIconUrl}}"/>

  <!-- Form Send SMS Code -->
  <div class="form-container" *ngIf="!confirmationResult">
    <span class="app-text item-list">{{labelValidatePhoneNumber}}</span>

    <!-- Phone Number -->
    <form class="item-list" [formGroup]="phoneForm">
      <mat-form-field>
        <input matInput
               [placeholder]="phoneNumberPlaceholder"
               type="tel"
               [formControl]="phoneNumberForm"/>
        <mat-error *ngIf="phoneNumberForm.errors?.required">{{errorFieldRequired}}</mat-error>
      </mat-form-field>
    </form>
  </div>

  <div class="item-list" id="recaptcha-container"></div>

  <app-action-button *ngIf="!confirmationResult" class="send-smscode item-list"
                     [state]="phoneForm.valid ? 'enabled' : 'disabled'"
                     [text]="labelSendSMSCode"
                     (onClick)="sendLoginCode()"></app-action-button>

  <!-- Validate Code Form -->
  <div class="form-validate-sms item-list" *ngIf="confirmationResult">
    <span class="app-text item-list">{{labelEnterValidationCode}}</span>
    <form class="item-list" [formGroup]="validationCodeFormGroup">
      <mat-form-field>
        <input matInput
               [placeholder]="validateCodePlaceholder"
               type="text"
               [formControl]="validateCodeForm"/>
      </mat-form-field>
      <mat-error *ngIf="isInvalidCode">{{errorCodeInvalid}}</mat-error>
    </form>

    <app-action-button class="validate-code item-list" [styleColor]="'GREEN'" [text]="labelBtnValidateSMSCode" (onClick)="verifyLoginCode()"></app-action-button>
  </div>
</div>

