<div class="container" [ngClass]="getBackgroundClass()" *ngIf="otherUserLetter != 'UNKNOWN'"
     (click)="onOpenConversation()">
  <!-- Header Container of the conversation -->
  <div class="header-container">
    <img class="app-profile-avatar app-shadow" src="{{getUserConversationPhotoURL()}}" />
    <div class="conversation-header">
      <p class="message-title app-title">{{getOtherUserInfos().name}}</p>
      <p *ngIf="userConversation.lastMessage" class="message-time app-subtitle">{{getLastMessageTime()}}</p>
    </div>
  </div>

  <!-- 2 lines of the message-->
  <div *ngIf="userConversation.lastMessage && displayLastMessage" class="message-container">
    <p class="message-text app-text">{{userConversation.lastMessage.message}}</p>
  </div>

</div>
<div class="app-separator"></div>
