@import 'mixins';
@import 'placeholders';

$maxLines: 2;
$lineHeight: 24px;
$fontsize: 14px;

/** ROOT */
.container {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  padding: 15px;
  background: $app-background-item;
  &.isSelected {
    background: $app-background-item-selected;
    box-shadow: $app-bottom-shadow;
    z-index: 2;
  }
}

/** HEADER CONTAINER */
.header-container {
  display: flex;
  min-width: 100%;
  justify-content: stretch;
  flex-direction: row;
  align-items: center;
}

p {
  margin: 0px;
}

.conversation-header {
  margin-left: 10px;
}

.message-title {
  font-weight: bold;
  font-size: 16px;
  font-family: $app-title-fontfamily;
}

.message-time {
  color: $app-subtitle-color;
  font-size: 12px;
  margin-top: 1px;
}

.message-text {
  overflow: hidden;
  box-sizing: content-box;
  width: 100%;
  max-height: $maxLines * $lineHeight;
  padding-bottom: (($fontsize * 1.3636) - $lineHeight) / 2;
}


/** MESSAGE Container */

.message-container {
  margin-top: 4px;
}
