<app-container-card class="container" [title]="headerTitle" [subtitle]="headerSubtitle">

  <div class="remote-container">
    <mat-checkbox class="app-text"
                  (change)="onRemoteWorkChange($event)"
                  [checked]="formData ? formData.data.remoteWork : false">{{labelRemoteWork}}</mat-checkbox>
  </div>


  <!-- Form to set city -->
  <app-shared-city-form class="city-form" [defaultSelectedCity]="formData ? formData.data.location : null"
                        (citySelected)="onCitySelected($event)"></app-shared-city-form>

</app-container-card>
