@import "placeholders";
@import "mixins";

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

app-middle-title {
  margin-bottom: 20px;
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;

  app-portfolio-item {
    max-width: 49%;
    min-width: 49%;
  }
}

@include respond-to(mobile) {
  .portfolio-container {
    app-portfolio-item {
      max-width: 100%;
      min-width: 100%;
      margin-bottom: 15px;
    }
  }
}
