<div class="container">
  <app-middle-title [title]="labelTitle"></app-middle-title>
  <div class="portfolio-container" *ngIf="portfolioList">
    <app-portfolio-item *ngFor="let item of portfolioList" [hasRemoveButton]="false"
                        [portfolioItem]="item"></app-portfolio-item>
  </div>
  <div class="empty-container">
    <!-- TODO Empty message -->
  </div>
</div>
