<div #container class="container">
  <div class="list-messages-container" #scrollMe [style.height.px]="getMessagesContainerHeight()">
    <app-conversation-list-messages [listMessages]="listMessages$ | async"
                                    [currentUser]="currentUser"
                                    [conversation]="conversation$ | async"
                                    (listChanged)="onListChanged()">
    </app-conversation-list-messages>
  </div>
  <div #sendcontainer class="send-message-container" [style.width.px]="containerWidth">
    <app-message-textbox (sendMessage)="onSendMessage($event)"></app-message-textbox>
  </div>
</div>
