@import 'mixins';
@import 'placeholders';

.container {
  width: 100%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  background: $app-root-content-background;
}

.send-message-container {
  position: fixed;
  padding: 0;
  bottom: 0px;
  background: #FCFCFC;
}

.list-messages-container {
  overflow: scroll;
  height: 100%;
  background: $app-root-content-background;
}
