<div class="container">
  <form class="form-content" *ngIf="form" [formGroup]="form">
      <!-- Category -->
      <mat-form-field class="category-field form-field">
        <mat-select [placeholder]="labelCategories" [formControl]="categoryFormControl">
          <mat-select-trigger>
            <!-- <mat-icon class="icon-selected" [ngStyle]="{'color': actionButtonOrangeBackgroundColor}">{{categoryFormControl.value.matIcon}}</mat-icon> -->
            {{getCategoryLabel(categoryFormControl.value)}}
          </mat-select-trigger>
          <mat-option *ngFor="let category of categories" [value]="category">
            <mat-icon [ngStyle]="{'color': categoryIconColor}">{{category.matIcon}}</mat-icon>
            {{getCategoryLabel(category)}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Skill -->
      <mat-form-field class="form-field skill">
        <mat-select [placeholder]="labelSkills"
                    [formControl]="categorySkillsFormControl"
                    [disabled]="!categorySkills || categorySkills.length === 0">
          <mat-option *ngFor="let skill of categorySkills" [value]="skill" [disabled]="!isSkillEnabled(skill)">
            {{getSkillLabel(skill)}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Levels -->
      <mat-form-field *ngIf="withLevel" class="form-field-level">
        <mat-select [placeholder]="labelLevels"
                    [formControl]="skillLevelsFormControl"
                    [disabled]="!categorySkillsFormControl.value">
          <mat-option *ngFor="let level of skillLevels" [value]="level">
            {{level}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <app-action-button *ngIf="withAddButton" class="add-btn" [state]="form.valid ? 'enabled' : 'disabled'"
                         [style]="'circle'"
                         [textColor]="'#FFFFFF'"
                         [backgroundColor]="categoryIconColor" [iconMat]="'add'" (onClick)="onAddClick()"></app-action-button>
  </form>
</div>
