@import 'placeholders';
@import 'mixins';

.form-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.icon-selected {
  max-width: 20px;
  max-height: 20px;
}

.form-field-level {
    max-width: 25%;
}

.add-btn {
  max-height: 25px;
  max-width: 25px;
}

@include respond-to(mobile) {
  .category-field {
    width: 100%;
  }
}
