<div class="container">
  <form class="form-content" [formGroup]="form">
    <div class="form-content">
      <!-- City -->
      <div class="field-container city-form">
        <mat-form-field>
          <input matInput
                 [placeholder]="cityPlaceholder"
                 type="text"
                 [formControl]="cityFormControl" [matAutocomplete]="auto"/>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectedCity($event)">
            <mat-option *ngFor="let option of (citySearchResults$ | async)"
                        [value]="option"
                        [id]="option.url">
              {{getLocationLabel(option)}}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="cityFormControl.errors?.required">{{errorFieldRequired}}</mat-error>
        </mat-form-field>
      </div>

      <!-- Country -->
      <div class="field-container">
        <mat-form-field>
          <input matInput
                 [placeholder]="countryPlaceholder"
                 type="text"
                 [formControl]="countryFormControl"/>
          <mat-error *ngIf="countryFormControl.errors?.required">{{errorFieldRequired}}</mat-error>
        </mat-form-field>
      </div>
    </div>

  </form>
</div>
