@import "placeholders";
@import "mixins";

$icon-size: 50px;

.container {
  display: flex;
  padding: 5px;
  align-items: stretch;
  justify-content: stretch;
  height: $icon-size;
  width: $icon-size;
  opacity: 0.6;
  cursor: pointer;
}

.container:hover {
  opacity: 1;
}
