<div class="container">

  <!-- List of Conversations -->
  <div class="conversation-list-box" *ngIf="hasConversations()">
    <div class="conversations-list" [ngClass]="getConversationListClassObject()" *ngIf="displayListConversations()">
      <app-conversation-item
        *ngFor="let userConversation of userConversations"
        [userConversation]="userConversation"
        [currentUser]="currentUser"
        [isConversationSelected]="userConversation.id === selectedConversationID"></app-conversation-item>
    </div>

    <!-- Conversation list messages -->
    <!-- Only displays if some conversation is selected or we want to start a new conversation -->
    <div class="message-container" *ngIf="selectedConversationID || otherUserUID">
      <app-conversation-item
        class="top-userconversation app-shadow"
        *ngIf="getUserConversationSelected() && deviceType === 'mobile'"
        [userConversation]="getUserConversationSelected()"
        [currentUser]="currentUser"
        [isConversationSelected]="true"
        [displayLastMessage]="false"></app-conversation-item>

      <div class="list-messages-container">
        <app-conversation-messages
          class="conversation-messages-container"
          [conversationId]="selectedConversationID"
          [otherUserUID]="otherUserUID"
          [currentUser]="currentUser">
        </app-conversation-messages>
      </div>

    </div>
  </div>

  <div class="empty-container" *ngIf="!hasConversations()">
    <app-empty-list [data]="getEmptyData()"></app-empty-list>
  </div>


</div>

