@import 'mixins';
@import 'placeholders';

:host {
  height: 100%;
}

.container {
  display: flex;
  flex: 1 auto;
  min-height: 100%;
  min-width: 100%;
  justify-content: stretch;
  align-items: stretch;
}

.conversation-list-box {
  display: flex;
  flex: 1 auto;
  min-height: 100%;
  min-width: 100%;
  align-items: stretch;
  justify-content: stretch;
}

// When NOT a mobile device
.conversations-list {
  position: sticky;
  min-height: 90vh;
  height: 100%;
  display: flex;
  min-width: 40%;
  max-width: 40%;
  flex-direction: column;
  background: $app-background-item;

  &.noneConversationSelected {
    width: 100%;
    background: $app-root-content-background;
  }
}

@include respond-to(mobile) {
  .conversations-list {
    width: 100%;
    background: $app-background;
  }
}

app-conversation-item {
  cursor: pointer;
}

/***** MESSAGES CONTAINER **/

.message-container {
  display: flex;
  flex: 1 auto;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: stretch;
  align-items: stretch;
  background: $app-root-content-background;
}

.top-userconversation {
  width: 100%;
}

.list-messages-container {
  display: flex;
  min-width: 100%;
  min-height: 100%;
  background: $app-root-content-background;
}

.conversation-messages-container {
  width: 100%;
  height: 100%;
}

// Empty Container
.empty-container {
  margin-top: 10%;
  width: 100%;
  height: 100%;
}

