<div class="container">
  <div class="logo-header" (click)="onLogoClick()">
    <img src="{{appLogoUrl}}" class="logo">
  </div>

  <!-- Anonymous options -->
  <div *ngIf="userRegisterState !== userRegisterStateTypes.REGISTER_COMPLETED" class="user-menu">

    <!-- Login Button -->
    <app-action-button *ngIf="userLoggedinState === userLoggedinStateTypes.ANONYMOUS" class="item-sidenavbar" [text]="loginBtnLabel"
                       [styleColor]="'BLUE'" (onClick)="onLoginClick()"></app-action-button>

    <!-- Logout -->
    <app-action-button *ngIf="userLoggedinState === userLoggedinStateTypes.LOGGEDIN" class="logout-btn item-sidenavbar" [text]="logoutBtnLabel"
                       [backgroundColor]="'transparent'"
                       [textColor]="logoutBtnColor" (onClick)="onLogoutClick()"></app-action-button>

  </div>

  <!-- Options when the user is logged in -->
  <div *ngIf="userRegisterState === userRegisterStateTypes.REGISTER_COMPLETED" class="user-menu">
    <!-- User Profile -->
    <app-user-avatar class="item-sidenavbar user-avatar" [avatarUrl]="userProfile.photoUrl"
                     [uid]="userProfile.uid" [userName]="userProfile.name"></app-user-avatar>

    <!-- User options -->
    <app-sidenav-option class="sidenav-option" *ngFor="let option of userListOptions" [optionData]="option"></app-sidenav-option>

    <div class="bottom-buttons">
      <!-- Add Task Button -->
      <app-action-button class="item-sidenavbar add-task-btn" [text]="addTaskLabel.toUpperCase()"
                         [styleColor]="'BLUE'" [iconMat]="'add'" (onClick)="onAddTaskClick()"></app-action-button>

    </div>

    <!-- Professional Options Container -->
    <div *ngIf="isProfessionalProfile()" class="professional-options">

      <!-- Separator between Client and Professional options -->
      <div class="app-separator-soft"></div>

      <!-- Professional Profile -->
      <app-user-avatar class="item-sidenavbar user-avatar" [avatarUrl]="professionalProfile.logoUrl"
                       [uid]="userProfile.uid" [userName]="professionalProfile.name" [isProfessionalProfile]="true">
      </app-user-avatar>

      <!-- User options -->
      <app-sidenav-option class="sidenav-option" *ngFor="let option of professionalListOptions"
                          [optionData]="option"></app-sidenav-option>

    </div>

    <!-- Logout -->
    <app-action-button class="logout-btn item-sidenavbar" [text]="logoutBtnLabel"
                       [backgroundColor]="'transparent'"
                       [textColor]="logoutBtnColor" (onClick)="onLogoutClick()"></app-action-button>
  </div>



</div>
