@import 'mixins';
@import 'placeholders';

.container {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.logo-header {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .logo {
    max-width: 80%;
  }

  .logo:hover {
    cursor: pointer;
  }
}

.user-menu {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.sidenav-option {
  margin-top: 15px;
}

.item-sidenavbar {
  margin-top: $app-content-padding;
  margin-left: $app-content-padding;
  margin-right: $app-content-padding;
}

.bottom-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: $app-title-margin-top;
}

.professional-options {
  margin-top: $app-title-margin-top;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: stretch;

  .app-separator-soft {
    margin-bottom: $app-title-margin-top;;
  }
}

.logout-btn  {
  margin-top: $app-title-margin-top;
}

