<app-root-container
  [requireUserAuthenticated]="true"
  [headerTitle]="headerTitle"
                    [actionButtons]="getHeaderActionButtons(isUserLoggedin$ | async)"
                    (actionButtonClick)="onActionButtonClick($event)">
  <app-container-card class="container" [title]="containerTitle">
    <!-- <app-register-user-form *ngIf="!(isUserLoggedin$ | async)"
                            (registerClick)="onRegisterClick($event)"></app-register-user-form> -->
    <app-register-user-profile-form *ngIf="(isUserLoggedin$ | async)"
                                    [userRegisterState]="userRegisterState$ | async"
                                    [defaultNameValue]="(userData$ | async).displayName"
                                    [authUserData]="userData$ | async"
                                    [userProfileForm]="userProfileForm$ | async"
                                    (saveProfileData)="onSaveProfile($event)"></app-register-user-profile-form>
  </app-container-card>
</app-root-container>
