<div class="container">

  <!-- Professional Dashboard -->
  <div class="app-grid-container-2-columns">
    <!-- My Pending Offers -->
    <app-dashboard-list-tasks class="app-grid-container-2-columns-child" [title]="labelPendingOffers"
                              [listOffers]="myOffersPending$ | async"></app-dashboard-list-tasks>
    <!-- My Assigned Tasks -->
    <app-dashboard-list-tasks class="app-grid-container-2-columns-child" [title]="labelAssignedTasks"
                              [listTasks]="myTasksAssigned$ | async"></app-dashboard-list-tasks>
  </div>

  <!-- Client Dashboard -->
  <app-dashboard-client-container>
  </app-dashboard-client-container>

</div>


