<div class="container">
  <app-middle-title [title]="labelTitle" [hasSeparator]="false"></app-middle-title>
  <app-task-offer-item *ngFor="let offer of listOffers"
                       [taskOffer]="offer" [userProfile]="userProfile" [taskDetails]="taskData"></app-task-offer-item>
  <span *ngIf="!listOffers || listOffers.length < 1" class="app-empty-box-label app-text">{{placholderEmptySkills}}</span>
</div>
