@import "mixins";
@import "placeholders";

.container {
  display: flex;
  flex-direction: column;

  app-middle-title {
    margin-bottom: 15px;
  }

  app-task-offer-item {
    margin-bottom: 20px;
  }

  app-task-offer-item:last-child {
    margin-bottom: 0;
  }
}
