<div class="container">
  <app-skill-item class="skill-item" [professionalSkill]="professionalServiceItem.service" [hasRemoveButton]="true"
                  (skillRemoved)="onSkillRemoved($event)"></app-skill-item>
</div>
