<app-container-card class="container" [title]="title" [subtitle]="subtitle" [titleAlign]="'LEFT'">
  <app-tasks-list [listOffers]="listOffers" [listTasks]="listTasks" [displayOffers]="true"></app-tasks-list>
</app-container-card>
