<div class="container">
  <app-middle-title [title]="labelTitle"></app-middle-title>
  <div class="infos-container">
    <app-avatar-photo [photoURL]="avatarUrl" (click)="openProfileDetails()"></app-avatar-photo>
    <div class="list-infos">
      <!-- Name -->
      <span class="app-title name" (click)="openProfileDetails()">{{name}}</span>
      <!-- Location -->
      <div class="location">
        <mat-icon class="location-icon" [fontIcon]="'20'">location_on</mat-icon>
        <span class="app-text">{{location}}</span>
      </div>

      <span class="app-text description">{{description}}</span>

    </div>
  </div>
</div>
