@import "mixins";
@import "placeholders";

.container {
  display: flex;
  flex-direction: column;
}

.infos-container {
  display: flex;
  margin-top: 20px;
  align-items: center;

  app-avatar-photo {
    width: 100px;
    height: 100px;
    cursor: pointer;
  }
}

.list-infos {
  display: flex;
  flex-direction: column;
  margin-left: 10px;

  .name {
    color: $app-title-link-color;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 2px;
    cursor: pointer;
  }

  .location {
    display: flex;
    align-items: center;

    .location-icon {
      color: $app-subtitle-color;
      margin-right: 5px;
    }

    .app-text {
      font-size: 17px;
      color: $app-subtitle-color;
    }
  }

  .description {
    margin-top: 5px;
    font-size: 19px;
    font-weight: lighter;
  }

}
