<div class="container" *ngIf="progressBarData.display">
  <mat-progress-bar *ngIf="!progressBarData.blocking"
                    mode="{{progressBarData.type}}"
                    value="{{progressBarData.percentage}}"></mat-progress-bar>
  <ngx-loading [show]="progressBarData.display" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading>
</div>
