@import 'placeholders';
@import 'mixins';

:host {
  width: 100%;
  display: flex;
  flex: 1 auto;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 auto;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.form-content {
  width: 100%;
}

.form-content mat-form-field {
  display: flex;
  flex-direction: column;
}

field-container {
  margin-bottom: 10px;
}

// Upload Photo
.upload-photo-container {
  margin-top: 10px;
  margin-bottom: 20px;

  app-avatar-photo-upload {
    width: 100%;
    height: 100%;
  }
}
