<app-container-card class="container" [title]="labelTitle" [subtitle]="labelSubtitle" [titleAlign]="'LEFT'">
  <div class="upload-photo-container">
    <app-avatar-photo-upload [defaultPhotoUrl]="getUserPhotoURL()"
                             (uploadedPhotoUrl)="onPhotoUpload($event)"
                             [fileName]="avatarFileName"></app-avatar-photo-upload>
  </div>

  <form class="form-content" [formGroup]="form">
    <div class="form-content">
      <!-- Professional Name -->
      <div class="field-container">
        <mat-form-field>
          <input matInput
                 [placeholder]="namePlaceholder"
                 type="text"
                 [formControl]="nameFormControl"/>
          <mat-error *ngIf="nameFormControl.errors?.required">{{errorFieldRequired}}</mat-error>
        </mat-form-field>

        <!-- Description -->
        <mat-form-field>
          <textarea matInput
                    type="text"
                    placeholder="{{descriptionPlaceholder}}"
                    [formControl]="descriptionFormControl"
                    rows="4">
          </textarea>
          <mat-error *ngIf="descriptionFormControl.errors?.required">{{errorFieldRequired}}</mat-error>
        </mat-form-field>

        <!-- Phone Number -->
        <mat-form-field>
          <input matInput
                 [placeholder]="phonenumberPlaceholder"
                 type="text"
                 [formControl]="phonenumberFormControl"/>
          <mat-error *ngIf="phonenumberFormControl.errors?.required">{{errorFieldRequired}}</mat-error>
        </mat-form-field>

        <!-- Vat Number -->
        <mat-form-field>
          <input matInput
                 [placeholder]="vatnumberPlaceholder"
                 type="text"
                 [formControl]="vatnumberFormControl"/>
          <mat-error *ngIf="vatnumberFormControl.errors?.required">{{errorFieldRequired}}</mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>

</app-container-card>
