@import "mixins";
@import "placeholders";

.container {
  cursor: pointer;
}

.image-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: start;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  .remove-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    max-height: 30px;
    max-width: 30px;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
    background: $app-background-red;
    opacity: 0.6;
  }


  .remove-container:hover {
    opacity: 1;
  }
}
