<div class="container" (click)="onOpenFullscreen()">
  <div class="image-container"
       [style.background-image]="'url(' + file.fileUrl + ')'"
       [style.height.px]="height"
       [style.width.px]="width"
       [style.background.size]="'cover'">
    <div *ngIf="hasRemoveButton" class="remove-container" (click)="onFileRemove()">
      <mat-icon [ngStyle]="{'color': '#FFFFFF'}">clear</mat-icon>
    </div>
  </div>
</div>
