@import "mixins";
@import "placeholders";

.app-title {
  font-size: medium;
  font-weight: bold;
  color: $app-middle-title-color;
}

.app-separator {
  margin-top: 5px;
  width: 100%;
  min-width: 100%;
}
