<div *ngIf="buttons && buttons.length > 0">
  <mat-button-toggle-group class="container" (valueChange)="onToggleChange($event)"
                           [multiple]="false" [value]="selectedButtonId">
    <mat-button-toggle class="button-toggle" *ngFor="let button of buttons"
                       [value]="button.id">{{button.label}}</mat-button-toggle>
  </mat-button-toggle-group>
</div>
