<div class="container app-shadow">
  <div class="description-container">
    <div class="category-container">
      <mat-icon class="category-icon" [ngStyle]="{'color': categoryIconColor}">{{professionalSkill.category.matIcon}}</mat-icon>
      <span class="label app-title">{{getCategoryLabel()}}</span>
    </div>

    <div class="skill-container">
      <span class="label app-text">{{getSkillLabel()}}</span>
    </div>
  </div>

  <!-- <div *ngIf="hasLevelSkill" class="level-container">
    <app-stars-level [level]="professionalSkill.professionalExperience" [type]="(isMobile$ | async) ? 'SHORT' : 'EXPANDED'">
    </app-stars-level>
  </div> -->

  <span class="label app-text experience-label">{{professionalSkill.professionalExperience}} {{labelYearsExp}}</span>

  <div class="remove-container" *ngIf="hasRemoveButton" (click)="onSkillRemove()">
    <mat-icon [ngStyle]="{'color': '#FFFFFF'}">clear</mat-icon>
  </div>
</div>
