@import 'placeholders';
@import 'mixins';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background: $app-background-gray;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 100%;
}

.description-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  flex-direction: column;
}

.category-container {
  display: flex;
  align-items: center;
  margin-right: 15px;

  .label {
    margin-left: 8px;
    font-size: medium;
  }
}

.remove-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  min-width: 30px;
  min-height: 30px;
  max-height: 30px;
  max-width: 30px;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  margin-left: 8px;

}

.remove-container:hover {
  background: $app-background-red;
}

.experience-label {
  white-space: nowrap;
}

@include respond-to(mobile) {
  .description-container {
    display: flex;
    flex-direction: column;
  }
  .category-container {
    margin: 0;
  }
}
