@import "mixins";
@import "placeholders";

.container {
  position: relative;
  height: 100%;
  width: 100%;

  .remove-container {
    display: flex;
    position: absolute;
    right: 5px;
    top: 0;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    max-height: 30px;
    max-width: 30px;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
    background: $app-background-red;
    opacity: 0.6;
  }

  .remove-container:hover {
    opacity: 1;
  }
}
