<div class="container">
  <app-upload-photo [height]="250" (fileToUpdate)="onFileToUpade($event)" (imageSrcChanged)="onSrcImage(($event))"
                    [defaultImageSrc]="fileData.imgUrl"></app-upload-photo>
  <div *ngIf="fileData.file" class="remove-container" (click)="onFileRemove()">
    <mat-icon [ngStyle]="{'color': '#FFFFFF'}">clear</mat-icon>
  </div>
</div>
