<app-container-card class="container" [title]="title" [subtitle]="subtitle" [titleAlign]="'LEFT'">
  <app-conversation-item
    *ngFor="let userConversation of listConversations"
    [userConversation]="userConversation"
    [currentUser]="userProfile"
    [isConversationSelected]="false"></app-conversation-item>

  <app-empty-list *ngIf="!listConversations || listConversations.length === 0" [message]="labelEmptyList"></app-empty-list>
</app-container-card>
