@import "placeholders";
@import "mixins";

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: $app-content-padding;
}

.task-form-container {
  display: flex;
  justify-content: stretch;
  width: 80%;

  .title-form {
    width: 100%;
  }

  .prefix-icon {
    margin-right: $app-side-icon-margin-right;
  }
}

.ic-create-task
{
  width: 40%;
}

.create-task-btn {
  min-width: 50%;
}

@include respond-to(mobile) {
  .task-form-container {
    width: 100%;
  }

  .ic-create-task
  {
    width: 60%;
  }
}
