<app-container-card [title]="labelTitle" [subtitle]="labelSubtitle" [titleAlign]="'CENTER'">

  <div class="container">
    <div class="task-form-container">
      <mat-form-field class="title-form" appearance="outline">
        <mat-icon matPrefix class="prefix-icon">playlist_add</mat-icon>
        <mat-label>{{labelInputTaskTitle}}</mat-label>
        <input matInput [placeholder]="labelInputTaskTitle"
               [value]="getPendingTaskTitle()"
               [formControl]="titleFormControl">
      </mat-form-field>
    </div>

    <app-add-skill-form [withAddButton]="false"
                        [defaultSelection]="getDefaultServiceSelection()"
                        (serviceSkillChanged)="onServiceSkillChanged($event)"></app-add-skill-form>

    <app-action-button class="create-task-btn" [styleColor]="'GREEN'"
                       [text]="labelContinueButton"
                       [state]="isValidToContinue ? 'enabled' : 'disabled'"
                        (onClick)="onContinueClick()"></app-action-button>

    <img class="ic-create-task" src="{{icCreateTask}}"/>
  </div>


</app-container-card>
