@import 'mixins';
@import "placeholders";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 auto;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.form-content mat-form-field {
  display: flex;
  flex-direction: column;
}

field-container {
  margin-bottom: 10px;
}


// Upload Photo
.upload-photo-container {
  margin-top: 10px;
  margin-bottom: 20px;

  app-avatar-photo-upload {
    width: 100%;
    height: 100%;
  }
}

.date-field {
  max-width: 200px;
}

.gender-container {
  margin-top: 5px;
  margin-bottom: 20px;
}

.gender {
  font-size: 17px;
  margin-right: 14px;
}

.radio-button {
  margin-right: 9px;
}

mat-radio-button {
  font-size: 14px;
}

// Bottom Buttons
.bottom-buttons-container {
  width: 100%;
  display: flex;
  justify-content: stretch;

  app-action-button {
    flex-grow: 1;
    max-width: 50%;
  }

  .btn-save {
    margin-right: 5px;
  }

  .btn-professional {
    margin-left: 5px;
  }
}
