<div class="containter">

  <span *ngIf="!form.valid || userRegisterState === userRegisterStateTypes.REGISTERED_NO_PROFILE" class="app-error-text">{{labelProfileNotComplete}}</span>

  <div class="upload-photo-container">
    <app-avatar-photo-upload [defaultPhotoUrl]="getUserPhotoURL()"
                             (uploadedPhotoUrl)="onPhotoUpload($event)"
                             [fileName]="avatarFileName"></app-avatar-photo-upload>
  </div>

  <form [formGroup]="form">
    <div class="form-content">
      <!-- Name -->
      <div class="field-container">
        <mat-form-field [color]="(!nameFormControl.valid ? 'warn' : '')">
          <input matInput
                 [placeholder]="namePlaceholder"
                 type="text"
                 [formControl]="nameFormControl"/>
          <mat-error *ngIf="nameFormControl.errors?.required">{{errorFieldRequired}}</mat-error>
        </mat-form-field>
      </div>

      <!-- Birthday -->
      <div class="field-container date-field">
        <mat-form-field [color]="(!birthdayFormControl.valid ? 'warn' : '')">
          <input matInput [matDatepicker]="picker"
                 [max]="birthdayMaxDate"
                 [placeholder]="birthdayPlaceholder"
                 [formControl]="birthdayFormControl">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="birthdayFormControl.errors?.required">{{errorFieldRequired}}</mat-error>
        </mat-form-field>
      </div>

      <!-- Gender -->
      <div class="gender-container field-container">
        <span class="gender app-text">{{genderPlaceholder}}</span>
        <mat-radio-group [formControl]="genderFormControl">
          <mat-radio-button class="radio-button" value="M">{{genderMalePlaceholder}}</mat-radio-button>
          <mat-radio-button value="F">{{genderFemalePlaceholder}}</mat-radio-button>
        </mat-radio-group>
      </div>

      <!-- Address -->
      <div class="field-container">
        <mat-form-field>
          <input matInput
                 [placeholder]="addressPlaceholder"
                 type="text"
                 [formControl]="addressFormControl"/>
          <mat-error *ngIf="addressFormControl.errors?.required">{{errorFieldRequired}}</mat-error>
        </mat-form-field>
      </div>

      <!-- City -->
      <div class="field-container">
        <mat-form-field>
          <input matInput
                 [placeholder]="cityPlaceholder"
                 type="text"
                 [formControl]="cityFormControl" [matAutocomplete]="auto"/>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectedCity($event)">
            <mat-option *ngFor="let option of (citySearchResults$ | async)"
                        [value]="option"
                        [id]="option.url">
              {{option.name}}, {{option.country}}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="cityFormControl.errors?.required">{{errorFieldRequired}}</mat-error>
        </mat-form-field>
      </div>


      <!-- Country -->
      <div class="field-container">
        <mat-form-field>
          <input matInput
                 [placeholder]="countryPlaceholder"
                 type="text"
                 [formControl]="countryFormControl"/>
          <mat-error *ngIf="countryFormControl.errors?.required">{{errorFieldRequired}}</mat-error>
        </mat-form-field>
      </div>

      <!-- Phone Number -->
      <div class="field-container">
        <mat-form-field>
          <input matInput
                 [placeholder]="phonenumberPlaceholder"
                 type="tel"
                 [formControl]="phonenumberFormControl"/>
          <mat-error *ngIf="phonenumberFormControl.errors?.required">{{errorFieldRequired}}</mat-error>
        </mat-form-field>
      </div>

      <!-- VAT Number -->
      <div class="field-container">
        <mat-form-field>
          <input matInput
                 [placeholder]="vatnumberPlaceholder"
                 type="text"
                 [formControl]="vatnumberFormControl"/>
          <mat-error *ngIf="vatnumberFormControl.errors?.required">{{errorFieldRequired}}</mat-error>
        </mat-form-field>
      </div>

      <!-- Linkedin URL -->
      <div class="field-container">
        <mat-form-field>
          <input matInput
                 [placeholder]="linkedinUrlPlaceholder"
                 type="text"
                 [formControl]="linkedinUrlFormControl"/>
        </mat-form-field>
      </div>

      <!-- Facebook URL -->
      <div class="field-container">
        <mat-form-field>
          <input matInput
                 [placeholder]="facebookUrlPlaceholder"
                 type="text"
                 [formControl]="facebookUrlFormControl"/>
        </mat-form-field>
      </div>
    </div>
  </form>

</div>
