<div class="container">
  <app-calendar-header class="header" [(view)]="view" [(viewDate)]="viewDate">
  </app-calendar-header>
    <div [ngSwitch]="view">
      <mwl-calendar-month-view
        *ngSwitchCase="'month'"
        [viewDate]="viewDate"
        [events]="listCalendarEvents"
        [activeDayIsOpen]="true"
        (eventClicked)="eventClicked($event)"
      >
      </mwl-calendar-month-view>
      <mwl-calendar-week-view
        *ngSwitchCase="'week'"
        [hourSegments]="1"
        [dayStartHour]="7"
        [viewDate]="viewDate"
        [events]="listCalendarEvents"
        (eventClicked)="eventClicked($event)"
      >
      </mwl-calendar-week-view>
      <mwl-calendar-day-view
        *ngSwitchCase="'day'"
        [viewDate]="viewDate"
        [events]="listCalendarEvents"
        (eventClicked)="eventClicked($event)"
        [hourSegments]="1"
        [dayStartHour]="7"
      >
      </mwl-calendar-day-view>
    </div>
</div>

