<app-root-container [headerTitle]="headerTitle"
                    [actionButtons]="headerActionButtons"
                    (actionButtonClick)="onActionButtonClick($event)">
  <app-create-task-initial [centralUserData]="centralUserData$ | async"></app-create-task-initial>
</app-root-container>
