<div class="container"
     [style.background-color]="isSelected ? backgroundSelectedColor : backgroundColor"
     [ngClass]="containerClass"
     (click)="onClickItem()">
  <span class="app-text" [style.color]="isSelected ? textSelectedColor : textColor">{{text}}</span>
</div>
