@import "mixins";
@import "placeholders";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 25px;

  .app-text {
    text-align: center;
  }

  &.sizeSmall {
    padding-right: 8px;
    padding-left: 8px;

    .app-text {
      font-size: x-small;
    }
  }

}
