@import "placeholders";
@import "mixins";

.container {
  width: 100%;
  max-width: 100%;
  flex-wrap: wrap;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.child-container {
  flex-grow: 1;
  min-height: 100%;
  max-width: 49.5%;
  min-width: 49.5%;
  margin-bottom: 10px;
  justify-self: stretch;
  align-self: stretch;
}

@include respond-to(mobile) {
  .child-container {
    flex-grow: 1;
    min-width: 100%;
    max-width: 100%;
  }
}
