<app-root-container [headerTitle]="headerTitle"
                    [actionButtons]="headerActionButtons"
                    (actionButtonClick)="onActionButtonClick($event)">
  <div class="container">
    <!-- Details -->
    <app-tasks-create-details class="child-container"
                              (listSkillsChanged)="onListSkillsChanged($event)"
                              (taskDetailsChanged)="onTaskDetailsChanged($event)"></app-tasks-create-details>

    <!-- Where and when -->
    <app-tasks-create-location class="child-container"
                               [userProfile]="userProfileData$ | async"
                               (taskLocationChanged)="onTaskLocationChanged($event)"></app-tasks-create-location>

    <!-- Budget -->
    <app-tasks-create-budget class="child-container"
                             (budgetDataChanged)="onTaskBudgetChanged($event)"></app-tasks-create-budget>

    <!-- Upload Files -->
    <app-tasks-create-upload-files class="child-container"
                                   (taskFilesChanged)="onTaskFilesChanged($event)">
    </app-tasks-create-upload-files>

  </div>
</app-root-container>
