@import 'mixins';
@import 'placeholders';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
}

.icon {
  width: 50%;
  height: 50%;
}

.title {
  color: #AAAAAA;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;

}
