@import "mixins";
@import "placeholders";

$margin-between-components: 30px;
$left-container-size: 60%;
$right-container-size: 40%;

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.left-container {
  min-width: $left-container-size;
  max-width: $left-container-size;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  padding-right: 20px;
}


.right-container {
  min-width: $right-container-size;
  max-width: $right-container-size;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-left: 10px;
}

.item-container {
  margin-bottom: $margin-between-components;
  width: 100%;
}

app-task-details-offers.item-container {
  margin-bottom: 0; // Is the last on the list, doesn't need a bottom margin
}


@include respond-to(mobile) {
  .container {
    flex-direction: column;
  }

  .left-container {
    min-width: 100%;
    max-width: 100%;
    margin-bottom: $margin-between-components;
    padding: 0;
  }

  .right-container {
    min-width: 100%;
    max-width: 100%;
    padding: 0;
  }
}
