<div class="container" *ngIf="taskData && userProfile">
  <!-- Left container when it's Desktop -->
  <div class="left-container">
    <!-- Status -->
    <app-task-details-status class="item-container" [taskStatus]="taskData.status" [extraStatus]="taskData.extraStatus">
    </app-task-details-status>

    <!-- Description -->
    <app-task-details-description class="item-container" [taskData]="taskData"></app-task-details-description>

    <!-- Task Photos -->
    <app-task-details-photos class="item-container" [taskData]="taskData"></app-task-details-photos>

    <!-- Task Offers -->
    <app-task-details-offers class="item-container" [taskData]="taskData"
                             [userProfile]="userProfile"
                             [listOffers]="taskOffers"></app-task-details-offers>

  </div>

  <!-- Right container when it's Desktop -->
  <div class="right-container">

    <!-- Budget -->
    <app-task-details-budget class="item-container"
                             [taskData]="taskData"
                             [taskOffers]="taskOffers"
                             [userProfile]="userProfile"></app-task-details-budget>

    <!-- Reviews Container -->
    <app-task-reviews-container class="item-container" [taskData]="taskData"
                                [userProfile]="userProfile"></app-task-reviews-container>

    <!-- Schedule -->
    <app-task-schedule-container class="item-container" *ngIf="taskData.scheduledStatus" [taskData]="taskData"
                                 [userProfile]="userProfile"></app-task-schedule-container>

    <!-- Share -->
    <app-task-details-share class="item-container" [taskData]="taskData"></app-task-details-share>

    <!-- Location -->
    <app-task-details-location class="item-container" [taskData]="taskData"></app-task-details-location>
  </div>
</div>
