<div class="app-shadow">
  <div class="header-container">
    <mat-toolbar>
      <mat-toolbar-row>
        <mat-icon *ngIf='hasMenuButton' class="toolbar-menu-icon" (click)="onMenuToggle()">menu</mat-icon>
        <img class="toolbar-logo" src="{{appAssets.logo}}" alt="image" [routerLink]="'/'">
        <div class="right-container">
          <app-action-button class="btn-add-task" [textColor]="'#FFFFFF'"
                             [backgroundColor]="paramsAddButtonBackground"
                             [iconMat]="'add'"
                             [style]="'circle'"
                             (onClick)="onAddTaskClick()"
                            ></app-action-button>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <app-progress-bar [progressBarData]="progressBarDisplay$ | async"></app-progress-bar>
</div>

