@import 'mixins';
@import 'placeholders';

:host {
  display: block;
}

mat-toolbar {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  max-width: $app-max-center-container-width-size;
  background: $app-toolbar-background;
}

mat-toolbar-row {
  padding: 0;
}

.toolbar-menu-icon {
  visibility: hidden;
}

@include respond-to(mobile) {
  :host {
    background: #FFFFFF;
    .boxed-content {
      padding: 10px;
    }
  }

  .toolbar-menu-icon {
    visibility: visible;
  }
}

.toolbar-menu-icon {
  cursor: pointer;
  margin-right: 20px;
  color: #80878A;
}

.toolbar-logo {
  max-width: 50%;
  max-height: 50px;
}

.toolbar-logo:hover {
  cursor: pointer;
}

.header-container {
  display: flex;
  background: $app-toolbar-background;
  align-items: center;
  justify-content: center;
  padding: 0 $app-root-side-padding 0 $app-root-side-padding;
}

.right-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;

  .btn-add-task {
    width: 50px;
    height: 50px;
  }
}
