@import "placeholders";
@import "mixins";

.container {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  border-color: $app-separator-color;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  align-items: center;
  width: 100%;
}

.app-title {
  color: $app-middle-title-color;
  padding: 15px;
  font-size: large;
}

.app-separator {
  min-width: 100%;
  height: 1px;
}
