<div class="container">
  <div class="content">
    <span *ngIf="title" class="app-title title">{{title.toUpperCase()}}</span>
    <div *ngIf="title" class="app-separator"></div>
    <ng-content></ng-content>
  </div>
</div>
