@import "placeholders";
@import "mixins";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .switch-title {
    font-size: $app-middle-title-size;
    margin: $app-content-padding;
    text-align: center;
    width: 100%;
    color: $app-middle-title-color;
  }

  .status-switcher-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: $app-content-padding;
  }

  .list-tasks-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: $app-title-margin-bottom;

    app-empty-list {
      width: 100%;
      height: 60%;
    }

    app-task-list-item {
      width: 49%;
      margin-bottom: 15px;
    }

  }

  app-tasks-list {
    margin-top: $app-title-margin-top;
    width: 100%;
    min-width: 100%;
  }

}
