<app-root-container [headerTitle]="headerTitle">
  <app-container-card class="content">

    <div class="container">
      <span class="switch-title app-title">{{labelSelectTaskStatus.toLocaleUpperCase()}}</span>
      <div class="status-switcher-container">
        <app-shared-switcher [switchItems]="statusSwitchData" (switchChanged)="onSwitchSelectionChanged($event)"></app-shared-switcher>
      </div>

      <!-- List of offers -->
      <div [ngSwitch]="currentTaskStatusSelected.id">

        <!-- Pending Offers -->
        <app-tasks-list *ngSwitchCase="myProOffersTypes.PENDING_OFFERS"
                        [listOffers]="myPendingOffers$ | async" [displayOffers]="true" [displayGrid]="true"></app-tasks-list>

        <!-- Accepted & Waiting schedule Offers -->
        <app-tasks-list *ngSwitchCase="myProOffersTypes.ACCEPTED_OFFERS_PENDING_SCHEDULE"
                        [listOffers]="myAcceptedWaitingScheduleTasks$ | async" [displayOffers]="true" [displayGrid]="true"></app-tasks-list>

        <!-- Accepted & Scheduled Offers -->
        <app-tasks-list *ngSwitchCase="myProOffersTypes.SCHEDULED_TASKS"
                        [listOffers]="myAcceptedScheduleTasks$ | async" [displayOffers]="true" [displayGrid]="true"></app-tasks-list>

        <!-- Finished -->
        <app-tasks-list *ngSwitchCase="myProOffersTypes.COMPLETED_TASKS"
                        [listOffers]="myFinishedTasks$ | async" [displayOffers]="true" [displayGrid]="true"></app-tasks-list>

      </div>

    </div>

  </app-container-card>
</app-root-container>
