@import "mixins";
@import "placeholders";

:host {
  width: 100%;
}

app-border-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.scheduled-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  app-line-icon-text {
    margin-bottom: 8px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;

  .app-text {
    width: 100%;
    margin-bottom: 12px;
    font-size: 14px;
    text-align: center;
    color: $app-subtitle-color;
  }
}

.show-calendar {
  margin-top: 10px;
}
