<app-border-container *ngIf="(isClient() || isProfessional()) && labelTitle" [title]="labelTitle">

  <div class="container">

    <!-- Title -->
    <span class="app-text">{{labelDescription}}</span>

    <div [ngSwitch]="buttonScheduleType">
      <!-- Select Availability-->
      <app-action-button *ngSwitchCase="scheduleStatusType.SELECTING_AVAILABILITY_PHASE1"
                         class="select-availability"
                         [styleColor]="'ORANGE'"
                         [text]="labelSetAvailabilityBtn"
                         (onClick)="onSelectAvailability()" [state]="isClient() ? 'enabled' : 'disabled'"></app-action-button>

      <!-- Select Date & time -->
      <app-action-button *ngSwitchCase="scheduleStatusType.SELECTING_TIME_PHASE2"
                         class="select-date"
                         [styleColor]="'ORANGE'"
                         [text]="labelSelectPeriodBtn"
                         (onClick)="onSelectDate()" [state]="isProfessional() ? 'enabled' : 'disabled'"></app-action-button>

      <!-- Scheduled - Phase 3 -->
      <div class="scheduled-container" *ngSwitchCase="scheduleStatusType.SCHEDULED_PHASE3">
        <app-line-icon-text [icon]="'calendar_today'" [text]="labelScheduledDate"></app-line-icon-text>
        <app-line-icon-text [icon]="'timelapse'" [text]="labelScheduledDuration"></app-line-icon-text>
        <app-action-button *ngSwitchCase="scheduleStatusType.SCHEDULED_PHASE3"
                           class="show-calendar"
                           [styleColor]="'ORANGE'"
                           [text]="labelShowCalendar"
                           (onClick)="onShowScheduleCalendar()" [state]="isProfessional() || isClient() ? 'enabled' : 'disabled'"></app-action-button>
      </div>
    </div>
  </div>

</app-border-container>
