<div class="container">
  <app-conversation-message-item *ngFor="let message of listMessages"
                                 [message]="message"
                                 [currentUser]="currentUser"
                                 [conversation]="conversation">
  </app-conversation-message-item>
  <div class="empty-container" *ngIf="!hasMessages()">
    <app-empty-list [data]="getEmptyData()"></app-empty-list>
  </div>
</div>
