@import 'mixins';
@import 'placeholders';

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: $app-content-padding;
}

cdk-virtual-scroll-viewport {
  width: 100%;
  height: 100%;
}


// Empty Container
.empty-container {
  margin-top: 10%;
  width: 100%;
  height: 100%;
}
