<app-root-container [headerTitle]="headerTitle"
                    [actionButtons]="headerActionButtons"
                    (actionButtonClick)="onActionButtonClick($event)"
                    [headerWithSteps]="headerStepsData">
  <div *ngIf="(centralUserData$ | async) as centralUserData" [ngSwitch]="headerStepsData.currentIndex">

    <app-create-task-step1-description *ngSwitchCase="0"
                                       [creationTaskData]="centralUserData.taskCreationPending"
                                       (onCreationChanges)="onTaskCreationChanged($event)" (onContinueClick)="doNextStep()"></app-create-task-step1-description>
    <!-- TODO Set here the different steps-->
  </div>

</app-root-container>
