@import "mixins";
@import "placeholders";

.remote-container {
  margin-top: 10px;
}

.location-search {
  width: 100%;
  display: flex;
  justify-content: stretch;
  margin-top: 10px;

  mat-form-field {
    width: 100%;
  }
}
