<app-container-card class="container" [title]="labelTitle" [subtitle]="labelSubtitle" [titleAlign]="'LEFT'">
  <div>
    <app-map-container [currentLocation]="currentLocation$ | async"
                       [fallbackLocation]="userProfile ? userProfile.city : ''"
                       [searchedLocation]="searchLocationResultSelected"
                       [mapDraws]="markersDraw"
                       [drawCirle]="false"
                       [drawMarker]="true"
                       (mapDrawsChanged)="onMapDrawsChanged($event)"></app-map-container>
    <div class="remote-container">
      <mat-checkbox class="app-text"
                    (change)="onRemoteWorkChange($event)"
                    [checked]="false">{{labelRemoteWork}}</mat-checkbox>
    </div>
    <div class="location-search">
      <mat-form-field>
        <input matInput
               [placeholder]="labelSearchLocation"
               type="text"
               [formControl]="searchLocationFormControl" [matAutocomplete]="auto"/>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSearchLocationSelected($event)">
          <mat-option *ngFor="let option of (searchLocationResult$ | async)"
                      [value]="option.name + ', ' + option.country"
                      [id]="option">
            {{option.name}}, {{option.country}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </div>
</app-container-card>
