<app-root-container [headerTitle]="headerTitle"
                    [actionButtons]="headerActionButtons"
                    (actionButtonClick)="onActionButtonClick($event)">

  <app-container-card class="container">
    <div class="header-container">
      <app-profile-header-photo [photUrl]="userProfile.photoUrl"
                                [title]="userProfile.name"
                                [subtitle]="getUserLocation()"></app-profile-header-photo>
    </div>

    <!-- Professional Infos -->
    <app-profile-user-infos class="line-container" *ngIf="professionalProfile"
                            [avatarUrl]="professionalProfile.logoUrl"
                            [name]="professionalProfile.name"
                            [location]="getProfessionalLocation()"
                            [description]="professionalProfile.description"
                            [type]="'PROFESSIONAL'"
                            [uid]="professionalProfile.uid"></app-profile-user-infos>

    <!-- Social networks -->
    <app-profile-social-networks class="line-container" *ngIf="userProfile.linkedinUrl || userProfile.facebookUrl"
                                 [facebookUrl]="userProfile.facebookUrl"
                                 [linkedinUrl]="userProfile.linkedinUrl">
    </app-profile-social-networks>

    <!-- TODO: Validate Badges -->

    <!-- TODO List Tasks: Pending, Done -->

    <!-- TODO Reviews -->
    <app-profile-reviews-container class="line-container"></app-profile-reviews-container>

  </app-container-card>

</app-root-container>
