<app-root-container [headerTitle]="headerTitle"
                    [actionButtons]="headerActionButtons"
                    (actionButtonClick)="onHeaderButtonClick($event)">
  <app-container-card class="content">
    <div class="container">
      <div class="left-container">
        <app-task-list-item *ngFor="let task of listTasksData" [taskData]="task"
                            (click)="onTaskOpened(task)" (mouseenter)="onTaskListHover(task)"></app-task-list-item>
        <app-empty-list *ngIf="!listTasksData || listTasksData.length === 0" [message]="labelEmptyList"></app-empty-list>
      </div>
      <div class="right-container">
        <app-map-container [isEditabled]="false"
                           [mapDraws]="listAreasDraws"
                           [mapStaticMarkers]="listMapMarkers"
                           (centerLocationChanged)="onMapCenterChanged($event)"
                           (mapBoundsRadiusChanged)="onMapRadiusChanged($event)"></app-map-container>

        <div class="header-button" *ngIf="mapHasChanged$ | async" [@slideInOut]>
          <app-action-button [text]="labelSearchAreaBtn" [styleColor]="'BLUE'" (onClick)="onSearchOnArea()"></app-action-button>
        </div>
      </div>

    </div>
  </app-container-card>
</app-root-container>

