@import "placeholders";
@import "mixins";

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.left-container {
  display: flex;
  flex-direction: column;
  width: 49%;
  height: 100%;

  app-task-list-item {
    margin-bottom: 15px;
  }
}

.right-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.header-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 20px;
  left: 0;
  top: 0;
  right: 0;
  z-index: 100;
  pointer-events: none;

  app-action-button {
    pointer-events: auto;
  }
}


@include respond-to(mobile) {
  .left-container {
    width: 100%;
    min-width: 100%;
  }

  .right-container {
    visibility: hidden;
  }
}
