@import "mixins";
@import "placeholders";

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 15px;

  app-user-review {
    margin-top: 15px;
  }

  .app-text {
    text-align: center;
    color: $app-text-gray;
  }

  .post-review {
    margin-top: 15px;
  }
}
