<app-border-container
  *ngIf="taskData && taskData.extraStatus && extraStatusType &&  taskData.extraStatus === extraStatusType.COMPLETED
  && isPublic()"
  [title]="labelTitle.toUpperCase()">

  <div class="container">

    <span class="app-text">{{labelHintText}}</span>

    <!-- Client -->
    <app-user-review
      *ngIf="taskData.reviews && taskData.reviews.clientReview"
      [avatarUrl]="taskData.userInfo.photoUrl"
      [reviewerUID]="taskData.uid"
      [reviewDate]="taskData.reviews && taskData.reviews.clientReview ? taskData.reviews.clientReview.date : 0"
      [message]="taskData.reviews && taskData.reviews.clientReview ? taskData.reviews.clientReview.message : null"
      [reviewerName]="taskData.userInfo.name"
      [isVisible]="taskData.reviews && taskData.reviews.clientReview ? taskData.reviews.clientReview.isVisible : false"
      [reviewLevel]="taskData.reviews && taskData.reviews.clientReview ? taskData.reviews.clientReview.level : 0">
    </app-user-review>

    <!-- Professional -->
    <app-user-review
      *ngIf="taskData.reviews && taskData.reviews.professionalReview"
      [avatarUrl]="taskData.acceptedOffer.userInfo.photoUrl"
      [reviewerName]="taskData.acceptedOffer.userInfo.name"
      [reviewerUID]="taskData.acceptedOffer.userInfo.uid"
      [reviewDate]="taskData.reviews
      && taskData.reviews.professionalReview ? taskData.reviews.professionalReview.date : 0"
      [message]="taskData.reviews
      && taskData.reviews.professionalReview ? taskData.reviews.professionalReview.message : null"
      [reviewLevel]="taskData.reviews && taskData.reviews.professionalReview ? taskData.reviews.professionalReview.level : 0"
      [isVisible]="taskData.reviews && taskData.reviews.professionalReview ? taskData.reviews.professionalReview.isVisible : false">
    </app-user-review>

    <!-- Post review -->
    <app-action-button
      class="post-review"
      *ngIf="!taskData.reviews
      || !taskData.reviews.professionalReview
      || !taskData.reviews.clientReview"
      [state]="isPostReviewEnabled() ? 'enabled' : 'disabled'" [styleColor]="'GREEN'"
      [text]="labelBtnPostReview" (onClick)="onPostReviewClick()"></app-action-button>

  </div>

</app-border-container>
