@import 'placeholders';
@import 'mixins';

:host {
  width: 100%;
  min-height: 100%;
  flex: 1 auto;
}

.container {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding: $app-container-side-padding;
}

.title-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  &.toLeft {
    align-items: flex-start;

    .app-title {
      text-align: left;
    }
    .app-subtitle {
      text-align: left;
    }
  }

  &.toCenter {
    align-items: center;

    .app-title {
      text-align: center;
    }
    .app-subtitle {
      text-align: center;
    }
  }

  &.toRight {
    align-items: flex-end;

    .app-title {
      text-align: right;
    }
    .app-subtitle {
      text-align: right;
    }
  }
}

.app-title {
  font-size: 30px;
  color: #485C6E;
  margin-bottom: 2px;
}

.app-subtitle {
  margin-top: 3px;
  font-size: 20px;
}

@include respond-to(mobile) {
  .app-title {
    font-size: 20px;
  }

  .app-subtitle {
    font-size: 15px;
  }
}
