@import "mixins";
@import "placeholders";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;

  .avatar {
    width: $app-avatar-small-size;
    height: $app-avatar-small-size;
  }

  .app-username-link {
    margin-left: $app-inside-content-side-margin;
  }

  .pro-label {
    position: absolute;
    left: 0;
    top: 0;
  }
}
