<div class="container" (click)="onProfileClick()">
  <!-- Professinal label -->
  <app-checkable-item *ngIf="isProfessionalProfile"
                      class="pro-label"
                      [textColor]="proLabelTextColor"
                      [backgroundColor]="proLabelBgColor"
                      [text]="proLabelText.toUpperCase()" [size]="'SMALL'"></app-checkable-item>


  <app-avatar-photo class="avatar" [photoURL]="avatarUrl"></app-avatar-photo>
  <span class="app-title app-username-link">{{userName}}</span>
</div>
