@import "placeholders";
@import "mixins";

.list-items {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  app-tasks-create-upload-item {
    width: 49%;
    height: 250px;
    margin-bottom: 10px;
  }
}
