<app-container-card class="container" [title]="labelTitle" [subtitle]="labelSubtitle" [titleAlign]="'LEFT'">
  <div class="list-items">
    <!-- List Uploaded -->
    <app-tasks-create-upload-item *ngFor="let fileData of listUploadItems"
                                  [fileData]="fileData"
                                  (fileChanged)="onUploadItemChanged($event)"
                                  (removeItem)="onRemoveUploadItem($event)"
                                  (addedNewFile)="onAddedNewFile($event)"></app-tasks-create-upload-item>
  </div>

</app-container-card>
