<mat-horizontal-stepper labelPosition="bottom" #stepper [disableRipple]="true" [selectedIndex]="currentStep">
  <div class="step-item" *ngFor="let step of listStepItems">
    <mat-step>
      <ng-template matStepLabel>{{step.label}}</ng-template>
    </mat-step>
  </div>
</mat-horizontal-stepper>
