::ng-deep mat-step {
  background-color: red !important;
}

::ng-deep .mat-stepper-horizontal {
  background-color: transparent;
}
::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none !important;
}
