@import "placeholders";
@import "mixins";

.container {
  display: flex;
  justify-content: center;
}

.offer-container {
  display: flex;
  flex-direction: column;
  border-color: $app-separator-color;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  align-items: center;
  width: 100%;
}

.app-title {
  color: $app-middle-title-color;
  padding: 15px;
  font-size: large;
}

.budget {
  color: $app-title-color;
  font-weight: bold;
  padding: 15px;
  font-size: x-large;
}

.makeoffer-btn {
  width: 90%;
  margin: 15px;
}

.app-separator {
  min-width: 100%;
  height: 1px;
}

.offer-value-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;

  .input-offer {
    font-size: x-large;
    text-align: right;
    font-weight: bold;
  }

  .currency {
    font-size: x-large;
    font-weight: bold;
  }
}

.message-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;

  mat-form-field {
    min-width: 80%;
  }
}
