<app-container-title class="container" [title]="labelHeaderTitle">

  <!-- Offer container -->
  <div class="offer-container">
    <span class="app-title title">{{labelTaskOffer.toLocaleUpperCase()}}</span>
    <div class="app-separator"></div>
    <div class="offer-value-container">
      <mat-form-field>
        <input class="app-text input-offer" matInput
               [placeholder]="offerPlaceholder"
               type="number"
               [min]="1"
               [formControl]="offerFormControl"/>
        <mat-error *ngIf="offerFormControl.errors?.required">{{errorFieldRequired}}</mat-error>
      </mat-form-field>
      <span class="app-text currency"> €</span>
    </div>
    <div class="app-separator"></div>
    <div class="message-container">
      <mat-form-field [hintLabel]="messagePlaceholderHint">
          <textarea matInput
                    type="text"
                    placeholder="{{messagePlaceholder}}"
                    [formControl]="messafeFormControl"
                    rows="3">
          </textarea>
        <mat-error *ngIf="messafeFormControl.errors?.required">{{errorFieldRequired}}</mat-error>
      </mat-form-field>
    </div>
    <div class="app-separator"></div>
    <app-action-button class="makeoffer-btn" [backgroundColor]="uiActionButtonBackgroundcolor"
                       [textColor]="uiActionButtonTextcolor"
                       [text]="labelMakeOfferButton" (onClick)="onMakeOfferClick()"></app-action-button>
  </div>

</app-container-title>
