@import 'mixins';
@import 'placeholders';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-color: $app-border-color;
  border-radius: 50%;
}

.container-image {
  width: 95%;
  max-width: 95%;
  height: 95%;
  max-height: 95%;
  border-radius: 50%;
  background: #FFFFFF;
}

.avatar-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}
