<div class="container">
  <span class="app-subtitle left-label">{{minValue}}</span>
  <mat-slider class="filter-slider"
              [max]="maxValue"
              [min]="minValue"
              [value]="defaultValue"
              [thumbLabel]="true"
              (valueChange)="onValueChanged($event)"></mat-slider>
  <span class="app-subtitle right-label">{{maxValue}}</span>
</div>
