@import "mixins";
@import "placeholders";

$app-range-margin: 10px;

.container {
  display: flex;
  width: 100%;
  align-items: center;

  .filter-slider {
    width: 100%;
  }
}

.app-subtitle {
  font-size: large;
}

.left-label {
  margin-right: $app-range-margin;
}

.right-label {
  margin-left: $app-range-margin;
}
