<div class="container" *ngIf="priceHourlyRate">
  <span class="app-text label-price">{{labelPriceHourly}}: </span>
  <div class="price-container">
    <!-- Budget Field -->
    <mat-form-field class="price-field">
      <input matInput
             [placeholder]="labelPlaceholder"
             type="number"
             [formControl]="priceFormControl"/>
      <mat-error *ngIf="priceFormControl.errors?.required">{{labelErrorRequired}}</mat-error>
    </mat-form-field>
  </div>

</div>
