@import 'placeholders';
@import 'mixins';

.container {
  background: #CCCCCC;
  min-width: 100%;
  min-height: 100%;;
}


.image-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.overlay-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00000066;
  opacity: 1;

  &.hasimage {
    opacity: 0;
  }
}

.overlay-container:hover {
  opacity: 1;
}

.center-icon {
  color: #F0F0F0;
  cursor: pointer;
}
