<div content="container" [style.height.px]="height">
  <div class="image-container"
       [style.background-image]="'url(' + imageSrc + ')'"
       [style.height.px]="height"
       [style.background.size]="'cover'"
       (click)="file.click()">
    <div class="overlay-container" [ngClass]="overlayClass">
      <mat-icon class="center-icon">add_photo_alternate</mat-icon>
    </div>
  </div>
  <input #file type="file" [hidden]="true" accept="image/*" (change)="readURL($event)">
</div>
