@import "placeholders";
@import "mixins";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .title {
    margin-bottom: 15px;
  }

  .remote-work-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    width: 100%;
    align-items: center;

    mat-icon {
      color: $app-subtitle-color;
    }

    .remote-work-label {
      margin-left: 10px;
      color: $app-subtitle-color;
      font-size: large;
    }
  }
}
