<div>
  <div class="container">
    <app-middle-title class="title" [title]="labelTitle" [hasSeparator]="false"></app-middle-title>
    <div class="remote-work-container" *ngIf="taskData.location.isRemote">
      <mat-icon>location_off</mat-icon>
      <span class="app-text" class="remote-work-label">{{labelIsRemoteAllowed}}</span>
    </div>
  </div>
  <app-map-container *ngIf="hasLocation()"
                     [currentLocation]="getLocation()"
                     [mapStaticMarkers]="mapMarkers"
                     [isEditabled]="false" [drawMarker]="true" [mapHeight]="500"></app-map-container>
</div>

