@import 'mixins';

.container {
  display: flex;
  flex-direction: column;
  flex: 1 auto;
}

.form-content mat-form-field {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  margin-bottom: 10px;
}
