<div class="containter">
  <form (ngSubmit)="onRegisterClick()" [formGroup]="form">
    <div class="form-content">

      <!-- Name -->
      <mat-form-field [color]="(!nameFormControl.valid ? 'warn' : '')">
        <input matInput
               [placeholder]="namePlaceholder"
               (keydown)="resetErrorForm()"
               type="text"
               [formControl]="nameFormControl">
        <mat-error *ngIf="nameFormControl.errors?.required">{{errorFieldRequired}}</mat-error>
      </mat-form-field>

      <!-- Email -->
      <mat-form-field [color]="(!emailFormControl.valid ? 'warn' : '')">
        <input matInput
               [placeholder]="emailPlaceholder"
               (keydown)="resetErrorForm()"
               type="email"
               [formControl]="emailFormControl">
        <mat-error *ngIf="emailFormControl.errors?.email">{{errorEmailInvalid}}</mat-error>
      </mat-form-field>

      <!-- Password -->
      <mat-form-field [color]="(!passwordFormControl.valid ? 'warn' : '')">
        <input matInput
               [placeholder]="passwordPlaceholder"
               (keydown)="resetErrorForm()"
               type="password"
               [formControl]="passwordFormControl">
        <mat-error *ngIf="passwordFormControl.errors?.required">{{errorPasswordMinLength}}</mat-error>
        <mat-error *ngIf="passwordFormControl.errors?.minlength">{{errorPasswordMinLength}}</mat-error>
      </mat-form-field>

      <!-- Confirm Password -->
      <mat-form-field [color]="(!confirmPasswordFormControl.valid ? 'warn' : '')">
        <input matInput
               [placeholder]="confirmPasswordPlaceholder"
               (keydown)="resetErrorForm()"
               type="password"
               [formControl]="confirmPasswordFormControl">
        <mat-error *ngIf="confirmPasswordFormControl.errors?.required">{{errorPasswordMinLength}}</mat-error>
        <mat-error *ngIf="confirmPasswordFormControl.errors?.minlength">{{errorPasswordMinLength}}</mat-error>
        <mat-error *ngIf="confirmPasswordFormControl.errors?.notSame">{{errorConfirmPasswordNotSame}}</mat-error>
      </mat-form-field>
    </div>
  </form>
  <app-action-button [text]="registerBtnLabel" (onClick)="onRegisterClick()"></app-action-button>
</div>
