<div class="root-container">
  <div class="app-separator"></div>

  <div class="container">
    <app-avatar-photo class="avatar" [photoURL]="taskOffer.userInfo.photoUrl"></app-avatar-photo>
    <div class="offer-infos">
      <span class="app-title app-username-link" (click)="onProfileClick()">{{taskOffer.userInfo.name}}</span>
      <div class="message-value-container">
        <span *ngIf="(isTaskOwner || isOfferOwner) && offerValue" class="app-text offer-value">{{offerValue}}</span>
        <span class="app-text offer-message">"{{taskOffer.message}}"</span>
      </div>
      <div class="offer-actions-container">

        <!-- Accept -->
        <app-action-button
          class="btn-action"
          *ngIf="isTaskOwner && isTaskOpen"
          [style]="'rounded'"
          [text]="labelButtonAcceptOffer"
          [textColor]="uiButtonTextColor"
          [fontSize]="btnFontSize"
          [btnTopBottomPadding]="btnTopBottomPadding"
          [backgroundColor]="uiButtonBackgroundGreen" (onClick)="onAcceptOffer()"></app-action-button>

        <!-- Reject -->
        <app-action-button
          class="btn-action"
          *ngIf="isTaskOwner && isTaskOpen && hasRejectButton"
          [style]="'rounded'"
          [text]="labelButtonRejectOffer"
          [textColor]="uiButtonTextColor"
          [fontSize]="btnFontSize"
          [btnTopBottomPadding]="btnTopBottomPadding"
          [backgroundColor]="uiButtonBackgroundRed" (onClick)="onRejectOffer()"></app-action-button>

        <!-- Remove offer -->
        <app-action-button
          class="btn-action"
          *ngIf="isOfferOwner && isTaskOpen"
          [style]="'rounded'"
          [text]="labelButtonRemoveOffer"
          [textColor]="uiButtonTextColor"
          [fontSize]="btnFontSize"
          [btnTopBottomPadding]="btnTopBottomPadding"
          [backgroundColor]="uiButtonBackgroundRed" (onClick)="onRemoveOffer()"></app-action-button>
      </div>
    </div>
  </div>
</div>


