@import "placeholders";
@import "mixins";

.root-container {
  display: flex;
  flex-direction: column;
}

.app-separator {
  margin-bottom: $app-list-top-margin;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: $app-content-padding;

  .avatar {
    min-width: $app-avatar-size;
    width: $app-avatar-size;
    min-height: $app-avatar-size;
    height: $app-avatar-size;
    margin-right: 8px;
  }

  .offer-infos {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 8px;

    .user-name {
      color: $app-clickable-label;
      font-size: 20px;
    }

    .offer-value {
      font-size: 18px;
    }

    .offer-message {
      padding: $app-content-padding;
      border-radius: 10px;
    }

    .offer-actions-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin-top: 8px;
    }
  }
}

.btn-action {
  margin-right: 8px;
}

.message-value-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-top: $app-list-top-margin;

  .offer-message {
    width: 100%;
    margin-left:  $app-container-side-padding;
    font-style: italic;
  }

  .offer-value {
    padding-top: $app-content-padding;
  }
}
