@import 'mixins';
@import 'placeholders';

.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  margin-bottom: 15px;

  app-portfolio-item {
    height: 100%;
    width: 49%;
    max-width: 49%;
    margin-bottom: 10px;
  }
}

@include respond-to(mobile) {
  .list-portfolio {

    app-portfolio-item {
      width: 100%;
      max-width: 100%;
      margin-bottom: 10px;
    }
  }
}

mat-dialog-container {
  padding: 10px;
}
