<app-container-card class="container" [title]="headerTitle" [subtitle]="headerSubtitle">
  <div class="list-portfolio">
    <app-portfolio-item *ngFor="let item of (portfolioList$ | async)"
                        [portfolioItem]="item" [hasRemoveButton]="true"
                        (onRemoveClick)="onPortfolioItemRemove($event)"></app-portfolio-item>
  </div>
  <app-action-button [text]="labelAddPortfolio" (onClick)="onAddPortfolio()"></app-action-button>
</app-container-card>
