@import 'mixins';
@import 'placeholders';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.photo-image {
  width: 100px;
  height: 100px;
}

.upload-button {
  margin-top: 30px;
  min-width: 150px;
  height: auto;
}
