<div class="container">
  <app-avatar-photo class="photo-image" [photoURL]="defaultPhotoUrl"></app-avatar-photo>
  <input #file type="file" [hidden]="true" accept="image/*" (change)="uploadFile(file.files)">
  <app-action-button class="upload-button"
                     [backgroundColor]="actionButtonBgColor"
                     [text]="uploadText" [style]="'rounded'" [textColor]="'#FFF'"
                     (click)="file.click()"></app-action-button>
</div>
