<div *ngIf="!optionData.invisible" class="container" (click)="optionClick()">
  <!-- Selectable button -->
  <app-sidenav-option-selectable [optionData]="optionData"
                                 (click)="optionClick($event)"></app-sidenav-option-selectable>
</div>
