@import 'mixins';
@import 'placeholders';

$sidenav-option-width: 80%;

:host:hover {
  cursor: pointer;
}

.container {
  min-width: 100%;
  width: 100%;
  display: flex;
  justify-content: stretch;
  align-items: center;
}

app-sidenav-option-selectable {
  width: 100%;
}
