<div class="container app-shadow">

  <div class="header-container">

    <div class="left-container">
      <app-avatar-photo class="avatar"
                        [photoURL]="taskData.userInfo? taskData.userInfo.photoUrl : null"></app-avatar-photo>

      <!-- User name -->
      <span class="app-subtitle app-username-link line-element"
            (click)="onUserNameClick()">{{taskData.userInfo ? taskData.userInfo.name : ''}}</span>

    </div>

    <div class="right-container">

      <!-- Task Title -->
      <span class="app-title title line-element">{{taskData.details.title}}</span>

      <!-- Location -->
      <div class="app-line-container location-container line-element"
           *ngIf="labelTaskLocation && labelTaskLocation.length > 0">
        <mat-icon class="line-icon">location_on</mat-icon>
        <span class="app-text location-address"
              *ngIf="taskData.location.addressLocation">{{labelTaskLocation}}</span>
      </div>

      <!-- Due Date -->
      <div class="app-line-container due-date line-element">
        <mat-icon class="line-icon">calendar_today</mat-icon>
        <span class="app-text due-date">{{labelDueDateText}}</span>
      </div>

      <div class="app-line-container budget-container line-element">
        <!-- Task Status -->
        <app-checkable-item
          *ngIf="labelStatusText"
          class="task-status"
          [isSelected]="true"
          [textSelectedColor]="uiStatusColor"
          [backgroundSelectedColor]="uiStatusBackgroundColor"
          [text]="labelStatusText.toLocaleUpperCase()"></app-checkable-item>

        <!-- Assigned phase -->
        <app-checkable-item
          *ngIf="labelSchedulePhase"
          class="task-schedule-status"
          [isSelected]="true"
          [textSelectedColor]="uiScheduleColor"
          [backgroundSelectedColor]="uiScheduleBackgroundColor"
          [text]="labelSchedulePhase.toLocaleUpperCase()"></app-checkable-item>

        <span class="app-text budget">{{labelBudgetText}}</span>
      </div>

    </div>

  </div>

</div>
