@import "mixins";
@import "placeholders";

.container {
  width: 100%;
  display: flex;
  width: 100%;
  flex-direction: column;
  // border-style: solid;
  // border-width: 1px;
  // border-color: #AAAAAA;
  padding: 12px;
  cursor: pointer;
}

.header-container {
  display: flex;
}

.left-container {
  display: flex;
  width: 30%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // max-width: $app-avatar-medium-size;
  margin-right: 10px;

  .avatar {
    width: $app-avatar-medium-size;
    height: $app-avatar-medium-size;
  }

  .app-username-link {
    font-weight: bold;
    font-size: 22px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
}

.right-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.app-separator {
  margin-top: 8px;
  margin-bottom: 8px;
}

.line-element {
  margin-bottom: 5px;
}

.due-date {
  margin-bottom: 5px;
}

.budget-container {
  display: flex;
  align-items: center;

  .budget {
    font-weight: bold;
  }

}

.task-status {
  margin-right: 8px;
}

.task-schedule-status {
  margin-right: 8px;
}

.title {
  color: $app-title-color;
  font-size: 22px;
  font-weight: bold;
}

.line-icon {
  margin-right: 5px;
}
