@import 'mixins';
@import 'placeholders';

.root-content {
  display:flex;
  max-width: $app-max-width-size;
  width: 100%;
  flex-direction: column;
  height: auto;
  min-height: 100%;
  align-content: center;
  flex: 1 auto;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.drawer-sidenav {
  width: $app-sidenavbar-width;
  max-width: $app-sidenavbar-width;
  background: $app-sidenavbar-background;
}

.root-center-container {
  display:flex;
  max-width: $app-max-center-container-width-size;
  width: 100%;
  flex-direction: column;
  height: auto;
  min-height: 100%;
  align-content: stretch;
  flex: 1 auto;
  justify-content: stretch;
  align-items: stretch;
  background: $app-background;
  padding-left: $app-root-side-padding;
  padding-right: $app-root-side-padding;;
}

.root-container {
  min-height: 100vh;
  display:flex;
  align-content: stretch;
  flex: 1 auto;
  justify-content: stretch;
  align-items: stretch;
}

.drawer-container {
  display:flex;
  flex-direction: column;
  height: auto;
  min-height: 100%;
  align-content: stretch;
  flex: 1 auto;
  justify-content: stretch;
  align-items: stretch;
  background: $app-background;
}

.header {
  z-index: 2;
  max-height: 100px;
}

app-sidenav-bar {
  width: 100%;
  height: 100%;
}

app-title-header {
  width: 100%;
  padding: $app-root-side-padding;
}

.bottom-action-buttons {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: stretch;
  align-items: stretch;

  .action-button {
    flex-grow: 1;
  }
}

@include respond-to(mobile) {

  .root-content {
    padding-bottom: 0;
  }

  .root-center-container {
    margin: 0;
    padding: 0;
  }

  .drawer-container {
    min-width: 300px;
  }

  app-title-header {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
