<div class="root-container">
  <mat-drawer-container class="drawer-container" autosize>
    <mat-drawer #drawer class="drawer-sidenav" mode="side" [opened]="(isDrawerOpened$ | async) || !isMobile">
      <app-sidenav-bar [userProfile]="userProfile$ | async" [userRegisterState]="userRegisterState$ | async"
                       [professionalProfile]="userProfessionalProfile$ | async"
                       [userLoggedinState]="userLoggedinState$ | async"></app-sidenav-bar>
    </mat-drawer>

    <div class="drawer-container">
      <div class="header">
        <app-toolbar *ngIf="!hasHeaderWithSteps()"></app-toolbar>
        <app-shared-stepper-horizontal *ngIf="hasHeaderWithSteps()"
                                       [listStepItems]="headerWithSteps.listSteps"
                                       [currentStep]="headerWithSteps.currentIndex"></app-shared-stepper-horizontal>
      </div>
      <div class="root-content">
        <app-title-header *ngIf="headerTitle"
                          [isMobile]="isMobile"
                          [title]="headerTitle.title"
                          [subtitle]="headerTitle.subtitle"
                          [actionButtons]="actionButtons"
                          (actionButtonClick)="onActionButtonClick($event)">
        </app-title-header>

        <div class="root-center-container" [style.padding-bottom.px]="getBottomPadding()">
          <ng-content></ng-content>
        </div>
        <div #bottombtnscontainer
             *ngIf="isMobile && (actionButtons && actionButtons.length > 0)"
             class="bottom-action-buttons">
          <app-action-button class="action-button" *ngFor="let actionButton of actionButtons"
                             [text]="actionButton.label"
                             [backgroundColor]="actionButton.backgroundColor"
                             [textColor]="actionButton.textColor"
                             [style]="'rectangle'"
                             [styleColor]="actionButton.styleColor"
                             (onClick)="onActionButtonClick(actionButton)">
          </app-action-button>
        </div>
      </div>
    </div>
  </mat-drawer-container>
</div>
