@import 'mixins';
@import 'placeholders';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.app-title {
  margin-top: 22px;
  font-size: 30px;
  color: $app-title-color;
  font-weight: bold;
}

.app-text {
  font-size: 20px;
  color: $app-subtitle-color;
}

.app-subtitle {
  margin-top: 2px;
  font-size: 22px;
  color: $app-title-color;
  font-weight: lighter;
}


.photo-image {
  width: 180px;
  height: 180px;
}

.location {
  display: flex;
  margin-top: 7px;
  align-items: center;
}

.location-icon {
  color: $app-subtitle-color;
  margin-right: 5px;
}
