<div class="container">
  <app-avatar-photo class="photo-image" [photoURL]="photUrl"></app-avatar-photo>
  <!-- Title -->
  <span class="app-title">{{title}}</span>
  <!-- Subtitle -->
  <div class="location">
    <mat-icon class="location-icon" [fontIcon]="'20'">location_on</mat-icon>
    <span class="app-text">{{subtitle}}</span>
  </div>
  <!-- Description -->
  <span *ngIf="description" class="app-subtitle">{{description}}</span>

</div>
