@import "mixins";
@import "placeholders";

$bottom-margin: 4px;

.container {
  display: flex;
  flex-direction: column;
}


.header-container {
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  app-avatar-photo {
    width: 80px;
    height: 80px;
  }

  .header-infos-container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;

    // Date
    .date-text {
      color: $app-subtitle-color;
      font-size: 17px;
      margin-top: 2px;
      margin-bottom: $bottom-margin;
    }

    // Name
    .reviewer-username {
      color: $app-title-link-color;
      font-size: 18px;
      margin-bottom: $bottom-margin;
    }
  }

}


// Title
.title-link {
  font-size: 20px;
  color: $app-title-link-color;
  font-weight: bold;
  margin-bottom: 2px;
}

// message-text
.message-text {
  font-size: 18px;
  font-weight: lighter;
  font-style: italic;
}
