<div class="container">
  <div class="header-container">

    <app-avatar-photo [photoURL]="avatarUrl"></app-avatar-photo>

    <div class="header-infos-container" [ngClass]="getHeaderClass()">

      <!-- Stars -->
      <app-stars-level [type]="'EXPANDED'" [level]="isVisible ? reviewLevel : 0"></app-stars-level>

      <!-- Review Date -->
      <span class="app-text date-text">{{getDateText()}}</span>

      <!-- Reviewer Link -->
      <a class="app-subtitle reviewer-username" href="{{getReviewerLink()}}">{{reviewerName}}</a>

    </div>

  </div>


  <!-- Review Title -->
  <a *ngIf="reviewTitle && isVisible" class="app-title title-link" href="{{reviewLink}}">{{reviewTitle}}</a>

  <!-- Message Container -->
  <span *ngIf="isVisible" class="app-text message-text">"{{isVisible ? message : ''}}"</span>

</div>
