<mat-card class="container">
  <div class="image-container"
       [style.background-image]="'url(' + portfolioItem.thumbnailImageUrl + ')'"
       [style.height.px]="200"
       [style.background.size]="'cover'">
    <div *ngIf="hasRemoveButton" class="remove-container" (click)="onPostfolioRemove()">
      <mat-icon [ngStyle]="{'color': '#FFFFFF'}">clear</mat-icon>
    </div>
  </div>
  <div class="infos-container">
    <span class="info app-title">{{portfolioItem.title}}</span>
    <span class="info app-text">{{portfolioItem.description}}</span>
    <a href="{{portfolioItem.url}}" class="info app-subtitle">{{portfolioItem.url}}</a>
    <span class="info app-subtitle">{{getPublishedDate()}}</span>
  </div>

</mat-card>
