<div class="container">

  <!-- Open Status -->
  <app-checkable-item
    *ngIf="!isExpired"
    [isSelected]="taskStatus === taskStatusTypes.OPEN"
    [textColor]="uiStatusParams.textColor"
    [textSelectedColor]="uiStatusParams.textSelectedColor"
    [backgroundSelectedColor]="uiStatusParams.backgroundSelectedColor"
    [text]="labelOpen.toLocaleUpperCase()"></app-checkable-item>

  <!-- Assigned Status -->
  <app-checkable-item
    *ngIf="!isExpired"
    [isSelected]="taskStatus === taskStatusTypes.ASSIGNED"
    [textColor]="uiStatusParams.textColor"
    [textSelectedColor]="uiStatusParams.textSelectedColor"
    [backgroundSelectedColor]="uiStatusParams.backgroundSelectedColor"
    [text]="labelAssigned.toLocaleUpperCase()"></app-checkable-item>

  <!-- Done Status -->
  <app-checkable-item
    [isSelected]="taskStatus === taskStatusTypes.DONE"
    [textColor]="uiStatusParams.textColor"
    [textSelectedColor]="uiStatusParams.textSelectedColor"
    [backgroundSelectedColor]="uiStatusParams.backgroundSelectedColor"
    [text]="labelCompleted.toLocaleUpperCase()"></app-checkable-item>

</div>
