<div class="container">
  <app-middle-title [title]="labelTitle"></app-middle-title>
  <div class="form-container">
    <mat-form-field class="description-form" appearance="outline">
      <mat-label>{{labelFieldPlaceholder}}</mat-label>
      <mat-hint>{{labelFieldExplanation}}</mat-hint>
      <textarea matInput [placeholder]="labelFieldHint"
                [value]="defaultDescription ? defaultDescription : ''"
                type="text"
                [maxlength]="2500"
                rows="5"
                [formControl]="descriptionFormControl"></textarea>
    </mat-form-field>
  </div>
</div>
