<app-root-container [headerTitle]="headerTitle">
  <app-container-card class="content">
    <div class="container">

      <!-- Switcher -->
      <span class="switch-title app-title">{{labelSelectTaskStatus.toLocaleUpperCase()}}</span>
      <div class="status-switcher-container">
        <app-shared-switcher [switchItems]="statusSwitchData" (switchChanged)="onSwitchSelectionChanged($event)"></app-shared-switcher>
      </div>

      <div [ngSwitch]="currentTaskStatusSelected.id" class="list-tasks-container">

        <!-- Open -->
        <app-tasks-list *ngSwitchCase="taskStatsTypes.OPEN"
                        [listTasks]="myOpenTasks$ | async"
                        [displayOffers]="false"
                        [displayGrid]="true"></app-tasks-list>

        <!-- Assigned -->
        <app-tasks-list *ngSwitchCase="taskStatsTypes.ASSIGNED"
                        [listTasks]="myAssignedTasks$ | async"
                        [displayOffers]="false"
                        [displayGrid]="true"></app-tasks-list>

        <!-- Done -->
        <app-tasks-list *ngSwitchCase="taskStatsTypes.DONE"
                        [listTasks]="myDoneTasks$ | async"
                        [displayOffers]="false"
                        [displayGrid]="true"></app-tasks-list>


      </div>

    </div>
  </app-container-card>
</app-root-container>

