@import "mixins";
@import "placeholders";

.container {
  display: flex;
  flex-direction: row;
  align-items: center;

  .icon {
    margin-right: 10px;
    font-size: 25px;
  }

  .app-text {
    color: $app-text-black;
    font-size: $app-label-small-size;
  }
}
