@import "mixins";
@import "placeholders";

.list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: $app-side-margin-centered-content;
  padding-right: $app-side-margin-centered-content;
}

.list-item {
  margin-top: $app-title-margin-top;
}

.continue-btn {
  max-width: 200px;
}

@include respond-to(mobile) {
  .list-container {
    padding: 0px;
  }
}
