<app-container-card class="container" [title]="labelHeaderTitle" [subtitle]="labelHeaderSubtitle" [titleAlign]="'CENTER'">

  <div class="list-container">
    <!-- Task Location -->
    <app-create-task-location class="list-item" [defaultLocation]="creationTaskData.taskLocation"
                              [defaultIsRemoteTask]="creationTaskData.isRemoteTask"
                              (taskLocationChanged)="onTaskLocationChanged($event)"
                              (isRemoteTaskChanged)="onIsRemoteTaskChanged($event)"></app-create-task-location>

    <!-- Task Duration -->
    <app-create-task-duration class="list-item" [defaultDurationHours]="creationTaskData.estimatedDuration"
                              (onDurationHoursChanged)="onTaskDurationChanged($event)"></app-create-task-duration>

    <!-- Task Description -->
    <app-create-task-description class="list-item" [defaultDescription]="creationTaskData.description"
                                 (onTextDescriptionChanged)="onTextDescriptionChanged($event)"></app-create-task-description>

    <!-- Continue Button -->
    <app-action-button *ngIf="!(isMobile$ | async)" class="list-item continue-btn" [text]="labelContinueButton"
                       [styleColor]="'GREEN'"
                       [style]="'rectangle'"
                       (onClick)="onContinueClick.emit()"></app-action-button>

  </div>

</app-container-card>
