@import "mixins";
@import "placeholders";

.form-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}

.skills-container {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: stretch;

  app-middle-title {
    margin-top: 8px;
    margin-bottom: 20px;
  }

  .list-skills {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: stretch;

    app-skill-item {
      margin-bottom: 10px;
    }
  }
}
