<app-container-card class="container" [title]="labelTitle" [subtitle]="labelSubtitle" [titleAlign]="'LEFT'">

  <form class="form-content" [formGroup]="form">
    <!-- Title -->
    <mat-form-field>
      <input matInput
             [placeholder]="titlePlaceholder"
             type="text"
             [formControl]="titleFormControl"/>
      <mat-error *ngIf="titleFormControl.errors?.required">{{errorFieldRequired}}</mat-error>
    </mat-form-field>

    <!-- Description -->
    <mat-form-field>
          <textarea matInput
                    type="text"
                    placeholder="{{descriptionPlaceholder}}"
                    [formControl]="descriptionFormControl"
                    rows="5">
          </textarea>
      <mat-error *ngIf="descriptionFormControl.errors?.required">{{errorFieldRequired}}</mat-error>
    </mat-form-field>

    <!-- Skills -->
    <div class="skills-container">
      <app-middle-title [title]="labelSkillsMiddleTitle"></app-middle-title>
      <app-add-skill-form (skillToAdd)="onSkillAdded($event)" [listSkills]="listSkills"></app-add-skill-form>
      <div class="list-skills">
        <app-skill-item *ngFor="let skill of listSkills"
                        [professionalSkill]="skill"
                        [hasRemoveButton]="true"
                        [hasLevelSkill]="false"
                        (skillRemoved)="onRemovedSkill($event)"></app-skill-item>
      </div>
      <!-- TODO Add professionalSkills -->
    </div>

  </form>

</app-container-card>
