<div class="container">

  <!-- Task Details -->
  <div class="task-content" *ngIf="taskAPIResponse && taskOffersResponse && !isNotFound()">
    <app-task-details-header [taskData]="taskAPIResponse"
                             [userProfile]="userProfile"
                             [taskOffers]="taskOffersResponse"></app-task-details-header>
  </div>

  <!-- Not Found -->
  <app-notfound-container *ngIf="isNotFound()" [message]="labelTaskNotFound"></app-notfound-container>
</div>
