@import "placeholders";
@import "mixins";

.form-content {
  display: flex;
  flex-direction: column;
  width: 100%;

  .budget-container {
    display: flex;
    width: 100%;
    align-items: center;

    .currency {
      font-size: 18px;
    }

    .budget-field {
      max-width: 40%;
    }

    .budget-type-container {
      margin-left: 10px;

      mat-radio-button {
        margin-left: 8px;
      }
    }
  }

  .date-field {
    width: 100%;

    mat-form-field {
      width: 45%;
    }
  }
}
