<app-container-card class="container" [title]="labelTitle" [subtitle]="labelSubtitle" [titleAlign]="'LEFT'">

  <!-- Form -->
  <form class="form-content" [formGroup]="form">
    <!-- Budget -->
    <div class="budget-container">
      <!-- Budget Field -->
      <mat-form-field class="budget-field">
        <input matInput
               [placeholder]="budgetPlaceholder"
               type="number"
               [formControl]="budgetFormControl"/>
        <mat-error *ngIf="budgetFormControl.errors?.required">{{errorFieldRequired}}</mat-error>
      </mat-form-field>
      <span class="app-text currency"> €</span>

      <!-- Radio Button Type -->
      <div class="budget-type-container">
        <mat-radio-group [formControl]="budgetTypeFormControl">
          <mat-radio-button value="{{budgetTypes.TOTAL}}">{{labelBudgetTypeTotal}}</mat-radio-button>
          <mat-radio-button value="{{budgetTypes.HOURLY}}">{{labelBudgetTypeHourly}}</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <!-- Due Date -->
    <div class="field-container date-field">
      <mat-form-field [color]="(!duedateFormControl.valid ? 'warn' : '')">
        <input matInput [matDatepicker]="picker"
               [min]="duedateMin"
               [placeholder]="duedatePlaceholder"
               [formControl]="duedateFormControl">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="duedateFormControl.errors?.required">{{errorFieldRequired}}</mat-error>
      </mat-form-field>
    </div>
  </form>

</app-container-card>
