<div class="container" *ngIf="taskData && taskData.uploadedFiles.length > 0">
  <app-middle-title [title]="labelTaskPhotosTitle" [hasSeparator]="false"></app-middle-title>
  <div class="list-photos">
    <app-storage-photo-item *ngFor="let file of taskData.uploadedFiles"
                            [hasRemoveButton]="false" [file]="file" [height]="150" [width]="150"></app-storage-photo-item>
  </div>
</div>
