@import "mixins";
@import "placeholders";

.container {
  display: flex;
  flex-direction: column;

  app-middle-title {
    margin-bottom: 15px;
  }
}

.list-photos {
  display: flex;
  flex-wrap: wrap;

  app-storage-photo-item {
    margin-right: 10px;
  }
}
