<app-root-container [headerTitle]="title">
  <div class="container" *ngIf="isUserLogged$ | async">
    <div class="app-separator"></div>
    <app-user-conversations [userConversations]="userConversations$ | async"
                            [currentUser]="currentUserData$ | async"
                            [deviceType]="deviceType$ | async"
                            [selectedConversationID]="conversationIDSelected$ | async"
                            [otherUserUID]="otherUserUIDSelected$ | async">
    </app-user-conversations>

    <!-- <app-action-button [text]="'Send Message'" (onClick)="onSendMessage()"></app-action-button> -->
  </div>
</app-root-container>

