@import 'mixins';
@import 'placeholders';

:host {
  min-height: 100%;
}

.container {
  min-height: 100%;
  background: $app-root-content-background;
}

app-user-conversations {
  height: 100%;
}

@include respond-to(mobile) {
  .container {
    margin-top: 0px;
  }
}
