@import 'mixins';
@import 'placeholders';

// Vars
$button-size: 40px;

.container {
  display: flex;
  align-items: center;
  justify-content: stretch;
  padding-left: 10px;
  padding-right: 10px;
}

.text-container {
  width: 100%;
  margin-right: 10px;
}

.form {
  width: 100%;
}

.text-box {
  width: 100%;
}

textarea {
  resize: none;
}

.send-button {
  max-width: $button-size;
  min-width: $button-size;
  min-height: $button-size;
  max-height: $button-size;
}

.app-separator {
  height: 1px;
  width: 100%;
  margin-bottom: 5px;
}

