<div class="app-separator"></div>
<div class="container">
  <div class="text-container">
    <form class="form" [formGroup]="form">
      <mat-form-field class="text-box">
        <textarea matInput placeholder="{{placeholderWriteMessage}}" [formControl]="messageFormControl" rows="1">
        </textarea>
      </mat-form-field>
    </form>
  </div>
  <app-action-button class="send-button"
                     (onClick)="onSendMessage()"
                     [iconMat]="'send'"
                     [style]="'rounded'"
                     [textColor]="'#FFFFFF'"
                     [backgroundColor]="'#BB365D'"></app-action-button>
</div>
