<app-root-container [headerTitle]="headerTitle"
                    [actionButtons]="headerActionButtons"
                    (actionButtonClick)="onActionButtonClick($event)">
  <div class="container" *ngIf="formData$ | async">

    <div class="vertical-container">

      <app-professional-profile-form class="child-container" [userProfile]="userProfile$ | async"
                                     [formData]="formData$ | async"
                                     (profileChanged)="onProfileChanged($event)"></app-professional-profile-form>

      <app-professional-portfolio-form class="child-container"></app-professional-portfolio-form>

    </div>

    <div class="vertical-container">
      <app-professional-skill-form class="child-container"
                                   (skillAdded)="onSkillAdded($event)" (skillRemoved)="onSkillRemoved($event)"
                                   (profileFormDataChanged)="onProfileChanged($event)"
                                   [formData]="formData$ | async"></app-professional-skill-form>

      <app-professional-location-form class="child-container" [formData]="formData$ | async"
                                      (profileChanged)="onProfileChanged($event)"></app-professional-location-form>
    </div>

  </div>
</app-root-container>
