@import 'mixins';
@import 'placeholders';

.container {
  width: 100%;
  max-width: 100%;
  flex-wrap: wrap;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.app-professional-profile {
  width: 100%;
}

app-professional-location-form {
  width: 100%;
  height: 100%;
}

.vertical-container {
  display: flex;
  max-width: 49.5%;
  min-width: 49.5%;
  flex-direction: column;
}

.child-container {
  margin-bottom: 10px;
}

@include respond-to(mobile) {
  .vertical-container {
    min-width: 100%;
    max-width: 100%;
  }
}
