<app-border-container [title]="labelTaskBudget.toLocaleUpperCase()">
  <span class="app-text budget">{{budgetTotalText}}</span>
  <div *ngIf="hasMakeOfferButton()" class="app-separator"></div>
  <app-action-button *ngIf="hasMakeOfferButton()" class="makeoffer-btn"
                     [state]="isButtonEnabled ? 'enabled' : 'disabled'"
                     [backgroundColor]="uiActionButtonBackgroundcolor"
                     [textColor]="uiActionButtonTextcolor"
                     [text]="labelMakeOfferButton"
                     (onClick)="onMakeOfferClick()"></app-action-button>
</app-border-container>

