@import "placeholders";
@import "mixins";

.container {
  display: flex;
  justify-content: center;
}


app-border-container {
  width: 100%;
}

.app-title {
  color: $app-middle-title-color;
  padding: 15px;
  font-size: large;
}

.budget {
  color: $app-title-color;
  font-weight: bold;
  padding: 15px;
  font-size: x-large;
}

.makeoffer-btn {
  width: 90%;
  margin: 15px;
}

.app-separator {
  min-width: 100%;
  height: 1px;
}
