@import "mixins";
@import "placeholders";

.container {
  display: flex;
  flex-direction: column;

  .title {
    color: $app-title-color;
    font-size: 30px;
    font-weight: bold;
  }

  // Posted By Container
  .postedby-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;

    app-avatar-photo {
      width: 100px;
      min-width: 100px;
      height: 100px;
      min-height: 100px;
      margin-right: 15px;
    }

    .posted-name-container {
      width: 60%;
      padding-top: 8px;
      display: flex;
      flex-direction: column;
      margin-right: 15px;

      .name {
        color: $app-clickable-label;
        font-weight: bold;
        cursor: pointer;
        font-size: $app-label-size;
      }

      .postedAt {
        color: $app-subtitle-color;
        font-size: $app-label-small-size;
      }
    }

    .duedate-container {
      padding-top: 8px;
      display: flex;
      flex-direction: row;

      .icon {
        margin-top: 5px;
        color: $app-icon-gray-color;
        font-size: 25px;
      }

      .duedate-description-container {
        display: flex;
        flex-direction: column;
        margin-left: 10px;

        .duedate-text {
          color: $app-text-black;
          font-size: $app-label-size;
        }
      }
    }
  }
}

.description-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 40px;

  .description {
    color: $app-text-black;
    font-size: large;
    margin-top: 10px;
  }
}

.list-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 40px;

  app-middle-title {
    width: 100%;
    margin-bottom: 15px;
  }

  app-skill-item {
    width: 49%;
    max-width: 49%;
  }
}

.label-title {
  color: $app-middle-title-color;
  font-weight: bold;
  font-size: $app-middle-title-size;
}

@include respond-to(mobile) {
  app-avatar-photo {
    width: 75px;
    min-width: 75px;
    height: 75px;
    min-height: 75px;
  }

  .posted-name-container {
    width: 100%;
  }

  .duedate-container {
    margin-top: 15px;
  }
}
