<div class="container" *ngIf="taskData">

  <!-- Title -->
  <span class="app-title title">{{taskData.details.title}}</span>

  <!-- Posted by at time-->
  <div class="postedby-container" *ngIf="taskData.userInfo">

    <app-avatar-photo [photoURL]="getUserPhoto()"></app-avatar-photo>

    <div class="posted-name-container">
      <span class="app-subtitle label-title">{{labelPostedBy.toLocaleUpperCase()}}</span>
      <span class="app-text name" (click)="onUserClick()">{{taskData.userInfo.name}}</span>
      <span class="app-text postedAt">{{timePostedText}}</span>
    </div>

    <!-- Due date -->
    <div class="duedate-container">
      <mat-icon class="icon" [color]="iconColor">schedule</mat-icon>

      <div class="duedate-description-container">
        <span class="app-subtitle label-title">{{labelDuedate.toLocaleUpperCase()}}</span>
        <span class="app-text duedate-text">{{duedateText}}</span>
      </div>
    </div>
  </div>

  <!-- Description -->
  <div class="description-container">
    <app-middle-title [title]="labelDescription" [hasSeparator]="false"></app-middle-title>
    <span class="app-text description">{{taskData.details.description}}</span>
  </div>


  <!-- Skills -->
  <div class="list-skills" *ngIf="taskData.skills">
    <app-middle-title [title]="labelListSkills" [hasSeparator]="false"></app-middle-title>
    <app-skill-item *ngFor="let skill of taskData.skills"
                    [hasRemoveButton]="false"
                    [hasLevelSkill]="false"
                    [professionalSkill]="skill"></app-skill-item>
  </div>

</div>
