<app-container-title class="container" [title]="labelHeaderTitle">
  <!-- Description -->
  <mat-form-field>
      <textarea matInput
                [placeholder]="labelReviewMessage"
                type="text"
                [formControl]="formControlReviewMessage"
                rows="4"> </textarea>
  </mat-form-field>

  <!-- Level -->
  <app-middle-title [title]="labelEvaluation" [hasSeparator]="false" [fontSize]="15"></app-middle-title>
  <app-stars-level [isEditable]="true" [type]="'EXPANDED'"
                   (onLevelSelected)="onLevelSelected($event)"></app-stars-level>

  <!-- Publish button -->
  <app-action-button
    [state]="isReadyToPost() ? 'enabled' : 'disabled'"
    [text]="labelPostReviewBtn"
    [styleColor]="'GREEN'" (onClick)="onPublishCLick()"></app-action-button>

</app-container-title>
