@import "placeholders";
@import "mixins";

.container {
  display: flex;
  flex-direction: column;
}

app-action-button {
  margin-top: 30px;
}

app-middle-title {
  margin-top: 20px;
  margin-bottom: 15px;
}
