<app-root-container [headerTitle]="headerTitle">
  <div *ngIf="userProfile$ | async as userProfile" class="dashboard-container">
    <ng-container [ngSwitch]="userProfile.role">

      <!-- Client Dashboard -->
      <app-dashboard-client-container *ngSwitchCase="userRoleType.CLIENT"
                                      [dashboardData]="dashboardData$ | async"
                                      [userProfile]="userProfile"></app-dashboard-client-container>
      <!-- Professional Dashboard -->
      <app-dashboard-professional-container *ngSwitchCase="userRoleType.CLIENT_PROFESSIONAL"
                                            [dashboardData]="dashboardData$ | async"
                                            [userProfile]="userProfile"></app-dashboard-professional-container>
    </ng-container>
  </div>
</app-root-container>
