@import "mixins";
@import "placeholders";

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .icon {
    margin-bottom: 20px;
    width: 50%;
  }

  .title {
    justify-content: center;
    font-size: 4vw;
    text-align: center;
    color: $app-middle-title-color;
  }
}
