<div class="container">
  <div class="title-container" [ngClass]="containerClass">
    <div *ngIf="title" class="app-title">{{title}}</div>
    <div *ngIf="subtitle" class="app-subtitle">{{subtitle}}</div>
  </div>
  <ng-content></ng-content>
</div>
