<div class="container">
  <app-middle-title [title]="labelTitle"></app-middle-title>
  <div class="form-container">
    <mat-form-field class="duration-form" appearance="outline">
      <mat-icon matPrefix class="prefix-icon">timelapse</mat-icon>
      <mat-label>{{labelFormPlaceholder}}</mat-label>
      <input matInput class="input-duration" [placeholder]="labelInputTaskTitle"
             [value]="defaultDurationHours"
             type="number"
             min="1"
             [formControl]="durationFormControl">
      <span matSuffix>{{labelHoursLabel}}</span>
    </mat-form-field>
  </div>
</div>
