@import "placeholders";

.form-container {
  margin-top: $app-title-margin-top;
}

.duration-form {
  min-width: 30%;
}

.prefix-icon {
  margin-right: $app-side-icon-margin-right;
}

@include respond-to(mobile) {
  .duration-form {
    width: 100%;
  }
}
