/* You can add global styles to this file, and also import other style files */
//@import "./app/core/styles/shared.scss";
/* angular-cli file: src/styles.css */
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import '~firebaseui/dist/firebaseui.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.snack-bar-error{
  color: #f44336;
}
