<div class="container" [style.background-color]="backgroundColor" [ngClass]="getButtonStateClass()">
  <div class="button-content" (click)="onButtonClick()">
    <span class="button-text" [style.color]="textColor"
          [style.font-size.px]="fontSize"
          [style.padding-top.px]="btnTopBottomPadding"
          [style.padding-bottom.px]="btnTopBottomPadding">{{text}}</span>
    <mat-icon class="mat-icon" *ngIf="iconMat"
              [style.margin-left.px]="text ? 10 : 0"
              [style.color]="textColor">{{iconMat}}</mat-icon>
  </div>
</div>

