@import "mixins";
@import "placeholders";

:host {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

:host:hover {
  cursor: pointer;
}

.container {
  height: 100%;
  width: 100%;
  opacity: 1;
  padding-left: 12px;
  padding-right: 12px;

  // State
  &.enabled {
    opacity: 1;
  }

  &.disabled {
    opacity: 0.4;
  }

  &.loading {
    opacity: 0.9;
  }

  // Style
  &.rounded {
    border-radius: 25px;
  }

  &.circle {
    border-radius: 50%;
  }

  &.rectangle {
    border-radius: 0px;
  }

  &.pressed {
    opacity: 0.6;
  }
}


.container:hover {
  &.enabled {
    opacity: 0.8;
  }
}

.container:active{
  &.enabled {
    opacity: 0.5;
  }
}

.button-text {
  font-size: 15px;
  font-weight: bold;
}

.button-text:hover {
  cursor: pointer;
}

.mat-icon {
  size: 18px;
}


.button-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  min-width: 100%;
}
