@import 'mixins';
@import 'placeholders';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

app-professional-service-item {
  margin-bottom: 10px;
}

.app-empty-box-label {
  margin-top: 10px;
}

.price-container {
  margin-top: $app-title-margin-top;
}
