<app-container-card class="container" [title]="headerTitle" [subtitle]="headerSubtitle">
  <app-add-skill-form (skillToAdd)="onSkillAdded($event)" [listSkills]="formData.data.availableServices"></app-add-skill-form>
  <span *ngIf="!formData.data.professionalSkills || formData.data.professionalSkills.length < 1" class="app-empty-box-label app-text">{{placholderEmptySkills}}</span>
  <app-professional-service-item *ngFor="let proService of formData.data.availableServices"
                                 [professionalServiceItem]="proService"
                                 [editable]="true" (skillRemoved)="onSkillRemoved($event)"></app-professional-service-item>
  <!-- <app-skill-item *ngFor="let skill of formData.data.professionalSkills" [professionalSkill]="skill" [hasRemoveButton]="true"
                  (skillRemoved)="onSkillRemoved($event)"></app-skill-item> -->
  <app-professional-hourly-rate  class="price-container"
                                 [priceHourlyRate]="formData.data.priceHourlyRate"
                                 (priceChanged)="onPriceChanged($event)"></app-professional-hourly-rate>
</app-container-card>
