@import "mixins";
@import "placeholders";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .task-item-container {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .task-item-container {
      width: 100%;
    }

    &.displayGrid {
      justify-content: space-between;

      .task-item-container {
        display: flex;
        justify-content: stretch;
        width: 49%;

        app-task-list-item {
          width: 100%;
        }
      }

      @include respond-to(mobile) {
        .task-item-container {
          width: 100%;
        }
      }

    }
  }
}


app-task-list-item {
  width: 100%;
  z-index: 10;
}

/** OFFERS Container **/
.task-offers-container {
  display: flex;
  width: 90%;
  background: $app-background-gray;
  padding: $app-content-padding;
  z-index: 1;
  border-color: $app-background-gray-border;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

@include respond-to(mobile) {
  .task-item-container {
    width: 100%;
  }
}

