<div *ngIf="userProfile$ | async as userProfile" class="container">
  <div *ngIf="listTasksMerged && listTasksMerged.length > 0" class="task-item-container"
       [ngClass]="getListItemsClass()">
    <div class="task-item-container" *ngFor="let task of listTasksMerged">
      <app-task-list-item [taskData]="task"
                          (click)="onTaskOpened(task)"></app-task-list-item>
      <div *ngIf="displayOffers && task.taskOffersData" class="task-offers-container">
        <app-task-offer-item *ngFor="let taskOffer of task.taskOffersData"
                             [taskDetails]="task"
                             [taskOffer]="taskOffer"
                             [userProfile]="userProfile"></app-task-offer-item>
      </div>
    </div>
  </div>

  <app-empty-list *ngIf="!listTasksMerged || listTasksMerged.length === 0" [message]="labelEmptyList"></app-empty-list>
</div>
