<app-root-container>

  <!--
  <div [style.backgroundColor]="backgroundColor">

    <div style="text-align:center">
      <p>
        Welcome to
      </p>
      <img width="300" alt="Bizcate Logo"
           src="{{appAssets.logo}}">
    </div>

  </div>

  <app-action-button *ngIf="isLoggedIn$ | async" [text]="'Logout'" (onClick)="onLogout()"></app-action-button>
  <app-action-button *ngIf="isLoggedIn$ | async" [text]="'Edit Profile'"
                     (onClick)="onEditProfile()"></app-action-button>
  <app-action-button *ngIf="!(isLoggedIn$ | async)" [text]="'Login'" (onClick)="onLogin()"></app-action-button>
  <app-action-button *ngIf="isLoggedIn$ | async" [text]="'Messages'" (onClick)="onMessages()"></app-action-button> -->

</app-root-container><!--The content below is only a placeholder and can be replaced.-->

