<app-container-title class="container" [title]="labelHeaderTitle">
  <!-- <app-progress-bar *ngIf="progressBarData && progressBarData.display"
                    [progressBarData]="progressBarData"></app-progress-bar> -->
  <app-upload-photo class="upload-photo-container"
                    [height]="(isMobile$ | async) ? 200 : 300"
                    (fileToUpdate)="onFileChange($event)"></app-upload-photo>

  <form class="form-content" [formGroup]="form">
    <!-- Title -->
    <mat-form-field>
      <input matInput
             [placeholder]="labelTitle"
             type="text"
             [formControl]="formControlTitle"/>
      <mat-error *ngIf="formControlTitle.errors?.required">{{errorFieldRequired}}</mat-error>
    </mat-form-field>

    <!-- Description -->
    <mat-form-field>
      <textarea matInput
                [placeholder]="labelDescription"
                type="text"
                [formControl]="formControlDescription"
                rows="4"> </textarea>
      <mat-error *ngIf="formControlDescription.errors?.required">{{errorFieldRequired}}</mat-error>
    </mat-form-field>

    <!-- Url -->
    <mat-form-field>
      <input matInput
             [placeholder]="labelLink"
             type="text"
             [formControl]="formControlLink"/>
      <mat-error *ngIf="formControlLink.errors?.required">{{errorFieldRequired}}</mat-error>
    </mat-form-field>


    <!-- Published Date -->
    <div class="field-container date-field">
      <mat-form-field>
        <input matInput [matDatepicker]="picker"
               [max]="pubdateMaxDate"
               [placeholder]="labelPubDate"
               [formControl]="formControlPubDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="formControlPubDate.errors?.required">{{errorFieldRequired}}</mat-error>
      </mat-form-field>
    </div>

  </form>

  <!-- Bottom buttons -->
  <div class="buttons-container">
    <app-action-button class="save-btn" [backgroundColor]="uiSaveBtnBgcolor" [style]="'rectangle'"
                       [text]="labelSaveBtn" (onClick)="onSavePortfolio()"></app-action-button>
    <app-action-button class="cancel-btn" [backgroundColor]="uiCancelBtnBgcolor" [style]="'rectangle'"
                       [text]="labelCancelBtn"
                       (onClick)="onCancelClick()"></app-action-button>
  </div>
</app-container-title>
