@import 'mixins';
@import 'placeholders';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
}

.form-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 15px;
}

.buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  app-action-button {
    width: 49%;

  }
}
