@import "mixins";
@import "placeholders";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filter-container {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  max-width: 100%;
  margin-top: $app-title-margin-top;

  .filter-title {
    margin-bottom: $app-title-margin-bottom;
  }
}

.bottom-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 25px;

  app-action-button {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 40%;
  }
}


app-filter-slider {
  width: 100%;
}

.checkbox {
  max-width: 100%;
}

.mat-checkbox-layout {
  white-space: normal !important;
}
