<app-container-title class="container" [title]="labelHeaderTitle">

  <!-- Location -->
  <div class="filter-container location">
    <app-middle-title class="filter-title"
                      [title]="labelTitleLocation"
                      [hasSeparator]="false"
                      [fontSize]="labelTitleSize">
    </app-middle-title>
    <app-filter-toggle-selector [buttons]="filterLocationButtons"
                                (toggleChangeId)="onFilterLocationToggle($event)"></app-filter-toggle-selector>
  </div>

  <!-- Task status -->
  <div class="filter-container task-status-container">
    <app-middle-title class="filter-title"
                      [title]="labelTitleTaskStatus"
                      [hasSeparator]="false"
                      [fontSize]="labelTitleSize">
    </app-middle-title>
    <app-filter-toggle-selector [buttons]="filterStatusButtons"
                                (toggleChangeId)="onFilterTaskStatusToggle($event)"></app-filter-toggle-selector>
  </div>

  <!-- Price -->
  <div class="filter-container price" *ngIf="browseFilterData.price.minPrice !== browseFilterData.price.maxPrice">
    <app-middle-title class="filter-title"
                      [title]="labelTitlePriceRange"
                      [hasSeparator]="false"
                      [fontSize]="labelTitleSize">
    </app-middle-title>

    <app-filter-slider
      [maxValue]="browseFilterData.price.maxPrice"
      [minValue]="browseFilterData.price.minPrice"
      [defaultValue]="browseFilterData.price.maxPriceLimit" (valueChanged)="onPriceRangeChanged($event)">
    </app-filter-slider>
  </div>

  <!-- Skills -->
  <!-- <div class="filter-container professionalSkills-container">
    <app-middle-title class="filter-title"
                      [title]="labelTitleTaskSkills"
                      [hasSeparator]="false"
                      [fontSize]="labelTitleSize">
    </app-middle-title>
    <app-add-serviceName-form [listSkills]="listSkillsAdded" [withLevel]="false" (skillToAdd)="onSkillAdded($event)"></app-add-serviceName-form>
    <app-serviceName-item *ngFor="let serviceName of listSkillsAdded" [professionalSkill]="serviceName" [hasRemoveButton]="true"
                    (skillRemoved)="onSkillRemoved($event)"></app-serviceName-item>
  </div> -->

  <!-- Checkboxs -->
  <div *ngIf="isProfessional" class="filter-container checkbox-container">

    <mat-checkbox class="app-text checkbox"
                  (change)="onOnlyMySkillsChecked($event)"
                  [checked]="browseFilterData.onlyMySkills">{{labelCheckboxOnlyMySkills}}</mat-checkbox>

    <!-- FIXME For now don't use this checkbox. Too complex to update map and request -->
    <mat-checkbox *ngIf="false" class="app-text checkbox"
                  (change)="onMyWorkableAreas($event)"
                  [checked]="browseFilterData.onlyMyWorkAreas">{{labelTitleMyWorkableAreas}}</mat-checkbox>

  </div>

  <!-- Bottom Buttons -->
  <div class="bottom-buttons-container">
    <app-action-button [text]="labelSaveBtn" [styleColor]="'GREEN'" (onClick)="onSaveFiltersClick()"></app-action-button>
    <app-action-button [text]="labelCancelBtn" [styleColor]="'ORANGE'" (onClick)="onCancelClick()"></app-action-button>
  </div>

</app-container-title>
