<div class="container">

  <!-- Previous -->
  <div class="left-container">

    <app-action-button mwlCalendarPreviousView class="arrow-btn" [styleColor]="'WHITE'" [iconMat]="'arrow_back_ios'"
                       [style]="'circle'"
                       [view]="view"
                       [(viewDate)]="viewDate"
                       (viewDateChange)="viewDateChange.next(viewDate)"></app-action-button>

  </div>

  <!-- Current View (Month, Week, Day) Today Button-->
  <div class="center-container">

    <span class="app-title">{{ viewDate | calendarDate: view + 'ViewTitle':locale }}</span>
    <app-action-button mwlCalendarToday class="today-btn" [styleColor]="'WHITE'" [text]="labelToday"
                       [(viewDate)]="viewDate"
                       (viewDateChange)="viewDateChange.next(viewDate)"></app-action-button>
  </div>

  <!-- Next -->
  <div class="right-container">

    <app-action-button mwlCalendarNextView class="arrow-btn" [styleColor]="'WHITE'" [iconMat]="'arrow_forward_ios'"
                       [style]="'circle'"
                       [view]="view"
                       [(viewDate)]="viewDate"
                       (viewDateChange)="viewDateChange.next(viewDate)"></app-action-button>

  </div>

</div>
