@import "placeholders";
@import "mixins";

$app-arrow-btn-size: 40px;

.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.left-container {
  display: flex;
  align-items: center;
  justify-content: left;
}

.right-container {
  display: flex;
  align-items: center;
  justify-content: right;
}

.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .app-title {
    font-size: 25px;
    color: $app-title-color;
    margin-bottom: 8px;
    text-align: center;
  }
}

.arrow-btn {
  width: $app-arrow-btn-size;
  height: $app-arrow-btn-size;
}
