@import "mixins";
@import "placeholders";

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.resend-email {
  max-width: 80%;
  margin-top: 10px;
}
