<div class="container">
  <span class="app-text">{{validateEmailLabel}}</span>
  <img class="icon" src="{{notValidatedIconUrl}}"/>

  <app-action-button class="resend-email" [text]="labelResendEmail" (onClick)="onResendEmailClick()"></app-action-button>
</div>
